<div class="container">
    <div class="faq-item">
        <h4>
            <a class="faq-question" data-bs-toggle="collapse" href="#q{{index}}" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                {{question}}
            </a>
        </h4>
        <div class="collapse" id="q{{index}}">
            <div class="card card-body faq-answer-card">
                {{answer}}
            </div>
        </div>
    </div>
</div>