<footer>
    <div id="social">
        <p class="mb-1">FOLLOW ME HERE:
            <span id="social-img">
                {{!-- <a href="https://www.facebook.com/profile.php?id=100080816411710" target="_blank"><img
                        src="/img/shared/icons/social/facebook.webp" alt=""></a> --}}
                {{!-- <a href=""><img src="/img/shared/icons/social/twitter.webp" alt=""></a> --}}
                {{!-- <a href="https://www.instagram.com/trainedbynik/" target="_blank"><img
                        src="/img/shared/icons/social/instagram.webp" alt=""></a> --}}
                <a href="https://www.youtube.com/@trainedbynik" target="_blank"><img
                        src="/img/shared/icons/social/youtube.webp" alt=""></a>
                <a href="https://www.linkedin.com/in/nik-kurdoyak/" target="_blank"><img
                        src="/img/shared/icons/social/linkedin.webp" alt=""></a>
            </span>
        </p>
    </div>

    <div id="copyright">
        <p>© 2024 by <a class="me" target="_blank" href="https://nickkiselev.me"><img width="100px"
                    src="/img/shared/nick-logo.png" alt=""></a></p>
    </div>
</footer>