<footer>
    <div id="social">
        <p class="mb-1">FOLLOW ME HERE: 
            <span id="social-img">
                {{!-- <a href="https://www.facebook.com/profile.php?id=100080816411710" target="_blank"><img
                        src="/img/social/facebook.webp" alt=""></a> --}}
                {{!-- <a href=""><img src="/img/social/twitter.webp" alt=""></a> --}}
                {{!-- <a href="https://www.instagram.com/trainedbynik/" target="_blank"><img
                        src="/img/social/instagram.webp" alt=""></a> --}}
                <a href="https://www.youtube.com/@trainedbynik" target="_blank"><img
                        src="/img/social/youtube.webp" alt=""></a>
                <a href="https://www.linkedin.com/in/nik-kurdoyak/" target="_blank"><img
                        src="/img/social/linkedin.webp" alt=""></a>
            </span>
        </p>
    </div>

    <div id="copyright">
        <p>© 2022 by <a class="me" target="_blank" href="https://nickkiselev.me"><img width="100px" src="/img/nick-logo-white.png" alt=""></a></p>
    </div>
</footer>