<footer>
    <div id="social">
        <p class="mb-1">FOLLOW US HERE:</p>        
        <div id="social-img" class="d-flex flex-row">
            <img src="/img/social/facebook.webp" alt="">
            <img src="/img/social/twitter.webp" alt="">
            <img src="/img/social/instagram.webp" alt="">
            <img src="/img/social/youtube.webp" alt="">
        </div>
    </div>

    <div id="copyright">
        <p>© 2023</p>        
    </div>
</footer>



