<footer>
    <div
        class="container fullContainer noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection div_xju8ey">
        <div class="containerInner ui-sortable">
            <div
                class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin cfRowAlignCenter div_if4ueh">
                <div class="col-md-3 innerContent col_left ui-resizable div_cxjixu">
                    <div
                        class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_7w0vjj">
                        <div
                            class="de elImageWrapper de-image-block elMargin0 ui-droppable elAlign_left de-editable div_4jn9uy">
                            <img src="./img/TrainedByNik-White.png" width="250" tabindex="0">
                        </div>
                        <div class="de elHeadlineWrapper ui-droppable de-editable">
                            <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 lh6 div_4n33og">
                                <div>TrainedByNik</div>
                                <div>Toronto, Canada</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 innerContent col_right ui-resizable div_h85he2">
                    <div
                        class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_hpb4ei">
                        <div class="de elHeadlineWrapper ui-droppable de-editable">
                            <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 lh6 div_3s213m">
                                <font color="#ffffff"><b>WHO IS NIK?</b></font>
                            </div>
                        </div>
                        <div class="de elHeadlineWrapper ui-droppable de-editable">
                            <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 lh6 div_zdbqza">Nik
                                is a professional fitness coach who
                                helps busy professionals and teams transform their bodies, improve their work
                                performance and skyrocket their energy levels.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 innerContent col_right ui-resizable div_1h2b5d">
                    <div
                        class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_6umik1">
                        <div class="de elHeadlineWrapper ui-droppable de-editable">
                            <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 lh3 div_z65zbd">
                                <i class="fa_prepended fa "></i><b>FOLLOW ME ON SOCIAL</b>
                            </div>
                        </div>
                        <div class="de elHeadlineWrapper ui-droppable de-editable">
                            <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 lh3 div_ku3nbg">
                                <i class="fa_prepended fa fa-instagram"></i>&#xA0;<a
                                    href="https://www.instagram.com/nikkurdoyakfit/?hl=en" id="link-84586"
                                    target="_blank" rel="noopener noreferrer" class="a_cp3ee0">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 innerContent col_right ui-resizable div_ywg284">
                    <div
                        class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_2v0nq6">
                    </div>
                </div>
            </div>
            <div
                class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_wxs4am">
                <div class="col-md-12 innerContent col_left div_hes8aj">
                    <div
                        class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_olcj6r">
                        <div class="de elSeperator elMargin0 ui-droppable de-editable div_efqn9c">
                            <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                                <div class="elDividerInner div_vzwutg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_gh9aki">
                <div class="col-md-12 innerContent col_left div_b0indd">
                    <div
                        class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_j4c9pq">
                        <div class="de elHeadlineWrapper ui-droppable de-editable">
                            <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 lh6 div_fc8g59">
                                <div>trained-by-nik.com - @2022 All Rights Reserved</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>