<footer>
    <div id="social">
        <p class="mb-1">FOLLOW ME HERE:
            <span id="social-img">
                <a href="https://www.youtube.com/@trainedbynik" target="_blank" aria-label="My youtube channel"><img
                        src="/img/shared/icons/social/youtube.webp" alt=""></a>
                <a href="https://www.linkedin.com/in/nik-kurdoyak/" target="_blank"
                    aria-label="My LinkedIn profile"><img src="/img/shared/icons/social/linkedin.webp" alt=""></a>
            </span>
        </p>
    </div>

    <div id="copyright">
        <p>© 2024 by <a class="me" target="_blank" href="https://nickkiselev.me" aria-label="Nick Kiselev site"><img
                    src="/img/shared/nick-logo.webp" alt=""></a></p>
    </div>
</footer>