<nav
    class="container noTopMargin padding40-top padding40-bottom padding40H borderSolid cornersAll radius0 shadow0 activeSection_topBorder0 activeSection_bottomBorder0 fullContainer emptySection borderLightBottom border2px bgCover101 div_ena6t2">
    <div class="containerInner ui-sortable">
        <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_ug0jzc"
            col-array="3,9">
            <div class="innerContent col_left ui-resizable col-md-4 div_2ya12v">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_zwj6km">
                    <div
                        class="de elImageWrapper de-image-block elMargin0 ui-droppable elAlign_left de-editable div_ssckai">
                        <img src="./img/TrainedByNik-Black.png" width="900" height="50">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-8 div_bxw62g">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_ahemfh">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_cj2um0">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_9v1u1z"><b><a
                                    href="/tranings">The
                                    &quot;No-Way-To-Fail&quot; Fitness Coaching
                                    Program</a>&#xA0;|&#xA0;
                                <a href="#success-stories-section">Client
                                    Success Stories</a> | <a href="#book-consultation-section">Book a
                                    FREE Consultation</a>&#xA0;| <a href="#ebooks-section">FREE
                                    E-Books</a> |&#xA0;<a href="https://bit.ly/TRAINEDBYNIK-ONLINE-TRAINER">LinkedIn</a>
                                | <a href="https://www.instagram.com/nikkurdoyakfit/?hl=en"
                                    id="link-15096">Instagram</a></b></h2>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_69bzor">
            <div class="col-md-12 innerContent col_left div_d7h9tq">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_okey5e">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_z3ywzm">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_v3vigm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_q65goz">
            <div class="col-md-12 innerContent col_left div_6vwwuo">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_qvre1n">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_m3gq62">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_bxgcfs"><b><i><u>Your
                                        #1
                                        Fitness And Peak Performance Mentor.</u></i></b></h1>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_1jbt86">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_zkfxdx"><b><i>To Help
                                    You
                                    Build Your Dream Body And Obtain The Highest Level Of Execution And
                                    Happiness In All Areas Of Life.</i></b></h2>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_b1hc5k">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_4g2d3x"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>