<!DOCTYPE html>

<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <link rel="stylesheet" href="/css/site.css">
  {{> analytics}}
  {{> scripts}}
  {{{_sections.head}}}
</head>

<body>
  <div id="page-container">
    {{> navbar}}
    <div id="content-wrap">
      {{{body}}}
    </div>
    <br>
    {{> footer}}
  </div>
</body>

</html>