<section id="main-video-container">
    <div id="title-text">
        <h1 class="mb-1 mb-lg-3">The #1 Fitness Coaching Program </h1>
        <h2>To Help You Build A Head-Turning Physique, Become A High-Performance Machine, And Start Living A More Powerful Life</h2>
    </div>
    <img id="main-play-image"
        srcset="/img/mainImage/mainImage.jpg 2220w, /img/mainImage/mainImage@0.75x.jpg 2140w, /img/mainImage/mainImage@0.5x.jpg 1000w, /img/mainImage/mainImage@0.25x.jpg 480w"
        src="/img/mainImage/mainImage.jpg" alt="">
    <iframe id="main-vimeo" title="vimeo-player"
        src="https://player.vimeo.com/video/749910680?h=da0cb51709&api=0&controls=1&title=0&loop=0&portrait=0&byline=0&#t=0s"
        frameborder="0"></iframe>
    <img id="strip-image-coaching" src="/img/strip.png" alt="">
</section>

<section id="bio" class="in-animate">
    <div class="text-block">
        <h2 class="">Most Peoples' Approach To Getting In Shape Is All Wrong.</h2>
        <u>But, it's not their fault.</u>
        <p>
            Most Peoples' Approach To Getting
            In Shape Is All Wrong.
            But, it's not their fault.
            You might think that to build a great-looking body, you
            need to spend 2-3 hours in a gym 5-6 days a week.
        </p>
        <p>
            You might think that the only way to achieve six-pack
            abs is to starve, crunch, and repeat.
        </p>
        <p>
            You might think that achieving peak physical
            fitness is all about training more and
            dieting hard. Wrong.
        </p>
        <p>
            Instead, real change happens when
            you do things SMARTER.
        </p>

        <u>So you need a special approach.</u>
    </div>

    <img class="w-85" src="/img/coaching/nick1.webp" loading="lazy" alt="">

    <div class="text-block">
        <h2 class="">What Does Working Out Smarter Look Like?</h2>
        <p>
            What Does Working Out
            Smarter Look Like?
            Using a program that's designed
            specifically for your abilities and goals.
        </p>
        <p>
            Getting real-time feedback on proper form for the
            most efficient progress in muscle building and fat loss.
        </p>
        <p>
            Learning the foundational principles so you
            become self-sufficient in your fitness journey.
        </p>
        <p>
            Delegating all the research on me, so I crack the code to
            your own, most sustainable and efficient fitness journey.
        </p>
    </div>

    <img class="w-85" src="/img/coaching/nick2.webp" loading="lazy" alt="">

    <div class="text-block">
        <p>
            Knowing what to eat and when to eat for
            best progress and without starving yourself.
        </p>
        <p>
            Having someone there to keep you accountable,
            supported, and on the straight path towards success.
        </p>
        <p>And, most importantly...</p>
        <p>Having more time outside the gym to live your life.</p>
    </div>

    <img class="w-85" src="/img/coaching/nick3.webp" loading="lazy" alt="">

    <h2 class="">And That's Where TrainedByNik's <br> Coaching Comes In...</h2>
</section>


<section id="pillars" class="in-animate">
    <h2>The Core Pillars Of The Program</h2>

    <div id="pillars-texts">
        <span> Efficiency & Sustainability</span>
        <span>Ensuring Your Self-Sufficiency</span>
        <span>Advanced Skills & Knowledge</span>
        <span>Complete Customization</span>
    </div>

    <img id="pillars-img" src="/img/coaching/pillars-graphic-aligned_edited.webp" alt="">

    <div class="text-block">
        <h2>Efficiency And Sustainability</h2>
        <img class="icon" src="/img/coaching/icons/timer.webp" alt="">
        <p>
            Teaching you how to train SMART and achieve the MOST results with LESS time spent on training, so you do not
            have to live in a gym to achieve great results.
            Helping you with a sustainable and even enjoyable nutrition plan, to make sure
            you don't feel overly restricted and miserable.
            With me, you won't have to live in a gym and follow hardcore diets to achieve great results. You will still
            enjoy your life and the process.
            </p>
    </div>
    <div class="text-block">
        <h2>Complete Customization And Individual Guidance</h2>
        <img class="icon" src="/img/coaching/icons/note.webp" alt="">
        <p>
            My coaching program entails complete flexibility and is built specifically for you to provide the guidance,
            insights, and tools you need individually to match your own goals and needs. From every aspect of my
            coaching to the price point, to ensure you get the results you want, at a pace you want, with the guidance
            you need individually.
            My program has NO automation in place. I do all the work with clients personally and manually, paying
            attention to all the little details, and with complete focus and dedication to their success. You will never
            wonder what's next or what you are doing wrong.
        </p>
    </div>
    <div class="text-block">
        <h2>Advanced Knowledge And Skills</h2>
        <img class="icon" src="/img/coaching/icons/bulb.webp" alt="">
        <p>
            With me, you have the chance to learn and practice the foundational concepts
            I derived from the decade of learning, researching, and experimenting.
            I don't just tell you what to do, I also explain to you WHY we do it that way. With the educational aspect
            of my coaching and premium content, you get empowered with advanced fitness principles and skills that 95%
            of people just have NO idea about.
        </p>
    </div>

    <div class="text-block">
        <h2>Helping You Become Self-Sufficient</h2>
        <img class="icon" src="/img/coaching/icons/hands.webp" alt="">
        <p>
            At some point, once you achieve that proficiency and mastery of the SMART approach, you will become
            self-sufficient in your fitness journey and won't have to rely on any other trainer or program again.
        </p>
    </div>
</section>

<section id="success" class="in-animate">
    <h2>Client Success Stories</h2>
    <div class="story">
        <div class="column">
            <div class="review">
                "At first, like everybody,
                I was a bit skeptical"
            </div>

            <img class="video" src="" alt="">
            <img src="/img/coaching/stars.webp" alt="">

            <div class="signature">
                <p class="name">Peter Barber</p>
                <p>Singaporean Businessman, the CEO of ComCrop</p>
            </div>
        </div>
        <div class="column">
            <u>20-Week Results</u>
            <div class="results">
                Lost 9.5 inches off the waist
                Lost 22 pounds in weight
                Gained 12 pounds of muscle
                Cut 10 years off his age
            </div>
        </div>
        <div class="column images">
            <img src="/img/coaching/success/peter1.webp" alt="">
            <img src="/img/coaching/success/peter2.webp" alt="">
            <img src="/img/coaching/success/peter3.webp" alt="">
        </div>
    </div>

    <div class="story">
        <div class="column">
            <div class="review">
                "Out Of 7 People I Referred To Nik, Not A Single One Has Failed"
            </div>

            <img class="video" src="" alt="">
            <img src="/img/coaching/stars.webp" alt="">

            <div class="signature">
                <p class="name">Steve Bolton</p>
                <p>Well-known British Entrepreneur And Celebrity Mentor</p>
            </div>
        </div>
        <div class="column">
            <div class="results">
                <p>Steve completely transformed his body, health, energy levels, and other areas of life.</p>
                <p>Steve was so impressed with the program that he onboarded 4 of his business partners and even 2 kids.
                </p>
            </div>
        </div>
        <div class="column images">
            <img src="/img/coaching/success/steve.webp" alt="">
        </div>
    </div>

    <div class="story">
        <div class="column">
            <div class="review">
                "In Just 3 Months I Already Got In The Best Shape Of My Life"
            </div>

            <img class="video" src="" alt="">
            <img src="/img/coaching/stars.webp" alt="">

            <div class="signature">
                <p class="name">John</p>
                <p>Company Vice-President
                    From Virginia</p>
            </div>
        </div>
        <div class="column">
            <u>1-Year Results
            </u>
            <div class="results">
                Lost 10.35 inches off the waist
                Lost 35 pounds of weight
                Gained 20 pounds of muscle
                Skyrocketed his work performance, grew his team and got promoted.
            </div>
        </div>
        <div class="column images">
            <img src="/img/coaching/success/john1.webp" alt="">
            <img src="/img/coaching/success/john2.webp" alt="">
            <img src="/img/coaching/success/john3.webp" alt="">
        </div>
    </div>

    <div class="story">
        <div class="column">
            <div class="review">
                "If You Want Life-Changing Results, Go With TrainedByNik"
            </div>

            <img class="video" src="" alt="">
            <img src="/img/coaching/stars.webp" alt="">

            <div class="signature">
                <p class="name">Simon Lattarche</p>
                <p>British Entrepreneur,
                    Investor, And CFO</p>
            </div>
        </div>
        <div class="column">
            <u>20-Week Results</u>
            <div class="results">
                Lost 12 cms off the waist
                Lost 19 pounds of weight
                Gained 10 pounds of muscle
                Boosted his energy levels, improved his health, and transformed his mindset.
            </div>
        </div>
        <div class="column images">
            <img src="/img/coaching/success/simon.webp" alt="">
        </div>
    </div>
</section>

<section id="more-success" class="in-animate">
    <div id="testimonials">
        <div class="testimonial">
            <h3>Bob Lindner</h3>
            <img class="video" src="" alt="">
            <p>"I live a very busy and stressful life, but Nik still helped me lose fat, gain muscle, and just look a
                whole lot better"</p>
        </div>
        <div class="testimonial">
            <h3>Rich Courtemanche</h3>
            <img class="video" src="" alt="">
            <p>"That first conversation I had with Nik was a turning point. If I could change just one thing - it would
                be meeting Nik sooner"</p>
        </div>
        <div class="testimonial">
            <h3>Robert "RJ" Falconi</h3>
            <img class="video" src="" alt="">
            <p>"Nik did a job I didn't even expect. He has taken me to the level I've never been at before"</p>
        </div>
        <div class="testimonial">
            <h3>Jon Godden</h3>
            <img class="video" src="" alt="">
            <p>"Even after just 2 weeks in Nik's program I started seeing results, making conscious choices, and live a
                much better life"</p>
        </div>
        <div class="testimonial">
            <h3>Lyda And Luis Montoya</h3>
            <img class="video" src="" alt="">
            <p>"Even though we were very skeptical at first, working with Nik turned out to be a completely
                life-changing experience"</p>
        </div>
        <div class="testimonial">
            <h3>Clare Godden</h3>
            <img class="video" src="" alt="">
            <p></p>
        </div>
    </div>
    <div id="transformations">
        <img src="/img/coaching/transformations/1.webp" alt="">
        <img src="/img/coaching/transformations/2.webp" alt="">
        <img src="/img/coaching/transformations/3.webp" alt="">
        <img src="/img/coaching/transformations/4.webp" alt="">
        <img src="/img/coaching/transformations/5.webp" alt="">
        <img src="/img/coaching/transformations/6.webp" alt="">
        <img src="/img/coaching/transformations/7.webp" alt="">
        <img src="/img/coaching/transformations/8.webp" alt="">
    </div>

    <img src="/img/coaching/Final.webp" alt="">
</section>

<section id="benefits" class="in-animate">
    <h2>What Exact Services And Benefits For Your Success My Program Will Provide You With?</h2>
    <div id="benefits-items">
        <div class="benefit">
            <img class="icon" src="/img/coaching/icons/dumbbell-icon.webp" alt="">
            <p>An in-depth workout and exercise form analysis.</p>
            <p>To improve your efficiency, maximize your progress, and ensure your safety.</p>
        </div>

        <div class="benefit">
            <img class="icon" src="/img/coaching/icons/zoom-icon.webp" alt="">
            <p>Live zoom workout sessions and coaching calls.</p>
            <p>To take your training mastery even further and discuss other aspects in more detail.</p>
        </div>

        <div class="benefit">
            <img class="icon" src="/img/coaching/icons/nutrition-icon.webp" alt="">
            <p>Extensive guidance on nutrition and supplementation.</p>
            <p>To make sure we achieve the results we want as sustainably as possible.</p>
        </div>

        <div class="benefit">
            <img class="icon" src="/img/coaching/icons/feedback-icon.webp" alt="">
            <p>Regular progress check-ins with timely routine adjustments.</p>
            <p>To make sure we improve on a consistent basis and never get stuck.</p>
        </div>

        <div class="benefit">
            <img class="icon" src="/img/coaching/icons/apps-icon.webp" alt="">
            <p>Access to the app that gives you easy access to everything you need.</p>
            <p>To make sure our process is very time-efficient and simple to follow.</p>
        </div>
    </div>
</section>

<section id="pricing" class="in-animate">
    <h2>Pricing And Onboarding</h2>
</section>

<section id="contact" class="in-animate">
    <div class="text-block">
        <h2 class=""><u>Contact</u></h2>
        <p>
            Feel free to get in touch with me in regards to coaching, partnership, or business inquiries.
        </p>
        <a href="tel:+17867417710"><img class="contact-img" src="/img/contact/call.png" loading="lazy" alt="">
            +1-786-741-7710
        </a>
        <br>
        <a href="mailto:trainedbynik@gmail.com"><img class="contact-img" src="/img/contact/email.png" loading="lazy"
                alt="">
            trainedbynik@gmail.com
        </a>
    </div>
</section>

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/js/coaching.js"></script>