<main id="coaching-page">
    <section id="main-video-container" class="block-shadow-down">
        <div id="title-text">
            <h1 class="mb-1">The #1 Fitness Coaching And Mentoring Program</h1>
            <h2>To Help You Build A <span class="underline">Head-Turning Physique</span>, Obtain <span
                    class="underline">Ultimate Confidence</span>, And Start Living A <span class="underline">More
                    Powerful Life</span> <u>In ONLY 4-12 Months</u></h2>
            <h2 id="first-features">International - Men or Women - Life Coaching - FREE trial</h2>
        </div>
        <img id="main-play-image" src="/img/coaching/coaching-main.webp" class="in-animate" alt="">
        <img id="strip-image-coaching" src="/img/strip.png" alt="">
    </section>

    <section id="why" class="in-animate texture-brick block-neon-shadow-down">
        <h2 class="underline mt-2">Why choose TrainedByNik?</h2>
        <div id="vimeo-container">
            <img src="/img/red-arrow.webp" alt="" class="arrow">
            <iframe id="promo-vimeo" src="https://player.vimeo.com/video/827675141?h=981aa88d02"
                frameborder="0" allowfullscreen></iframe>
            <img src="/img/red-arrow.webp" alt="" class="arrow rotated180">
        </div>
    </section>

    <section id="success" class="in-animate texture-scales block-neon-shadow-down">
        <div class="container">
            <div class="story row">
                <h3 class="story-title">Mind-blowing transformation journey and what’s unique about TrainedByNik</h3>

                <div class="col-12 col-md-7">
                    <p class="review">
                        "I haven’t met anybody that’s changed my life to this extent"
                    </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hyoNqv7Gy2I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Rich Courtemanche from Canada</p>
                        <p>Salesman in the mining industry</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 images stacked-images">
                    <img class="bordered-img" src="/img/coaching/success/rich1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/rich2.webp" loading="lazy" alt="">
                    <img class="bordered-img mb-3" src="/img/coaching/success/rich3.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>


            <div class="story row">
                <h3 class="story-title">Only dumbbells, minimal food sacrifices, still insane results</h3>

                <div class="col-12 col-md-7">
                    <p class="review">
                        "What makes Nik stand out is his direct, no-nonsense style"
                    </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6vJPGmgjk2U"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Peter Barber From Singapore</p>
                        <p>Well-known Entrepreneur and family man</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 images stacked-images stacked-tight">
                    <img class="bordered-img" src="/img/coaching/success/peter2.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/peter1.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>

            <div class="story row">
                <h3 class="story-title">Got in the best shape of his life in only 3 months and even transformed his
                    career</h3>

                <div class="col-12 col-md-7">
                    <p class="review">
                        "The greatest example of the best decision ever made"
                    </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3ugF3badWAg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">John From New York</p>
                        <p>Company Vice-President</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 images stacked-images">
                    <img class="bordered-img" src="/img/coaching/success/john1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/john2.webp" loading="lazy" alt="">
                    <img class="bordered-img mb-3" src="/img/coaching/success/john3.webp" loading="lazy" alt="">
                </div>
            </div>
            <hr>
        </div>

        <div id="testimonials" class="container">
            <div class="testimonial">
                <h4>Steve Bolton</h4>
                <p class="whois">British Entrepreneur and celebrity mentor</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1m7NYBloJXs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <p class="testiomial-text">"Out of 7 people I referred to Nik, not a single one has failed"</p>
            </div>
            <div class="testimonial">
                <h4>Jane</h4>
                <p class="whois">Writer from the UK</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K8xntA0o50c"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <p class="testiomial-text">“I couldn’t believe I would achieve such results with my health limitations
                    and training at home only 3 times a week”</p>
            </div>
            <div class="testimonial">
                <h4>Simon Lattarche</h4>
                <p class="whois">British CFO and Investor</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_3bGHwZiruE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <p class="testiomial-text">“At the beginning I was skeptical to start Nik’s program, but now even my
                    12-year old son also works with Nik”</p>
            </div>

        </div>

        <div class="container additional">
            <p class="accent-box">
                Want to speak with some of my clients personally? Not a problem! Send a message request to
                +1-786-741-7710 (in
                WhatsApp) with your name and the name of the client(s) you would like to speak to, and I will provide
                you with the
                contact information
            </p>
            <img class="w-100 mt-3" src="/img/coaching/Final.webp" loading="lazy" alt="">
        </div>
    </section>

    <section id="pillars" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container">
            <h2 class="underline">My program goes beyond just giving you training and nutrition plans to follow</h2>

            <div id="pillars-detailed" class="container">
                <div class="pillar row">
                    <h3>An in-depth analysis of your workouts and exercise execution followed by comprehensive feedback
                        and progress updates</h3>
                    <div class="d-flex col-12 col-lg-6">
                        <img class="icon bordered-img" src="/img/coaching/pillars/execution.webp" loading="lazy" alt="">
                    </div>
                    <div class="pillar-text col-12 col-lg-6">
                        <p>
                            NOT a single rep during your sets will be disregarded. NOT a little form imperfection will
                            be ignored. I will deep
                            dive into <span class="accent">every little detail</span> of your training (which you will
                            log in the app and send
                            videos using WhatsApp),
                            provide you with the feedback and update your progress for next workout. To ensure <span
                                class="accent">the
                                straight line quickest
                                success to your best physique</span>, maximize your <span class="accent">training
                                efficiency</span>, and also <span class="accent">guarantee your
                                safety</span>.
                        </p>
                    </div>
                </div>


                <div class="pillar row">
                    <h3>Extensive guidance on nutrition and supplementation with thorough feedback</h3>
                    <div class="d-flex col-12 col-lg-6 order-lg-2">
                        <img class="icon bordered-img" src="/img/coaching/pillars/nutrition.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-lg-6">
                        <p>
                            You will never hear me saying things like “You are good”, “I like it, keep it up”, or just
                            giving you thumbs up.
                            Instead, I will <span class="accent">dig into every gram</span> of your nutrients (which you
                            will log via MyFitnessPal,
                            it’s very simple), and
                            give you an in-depth response on <span class="accent">how we can improve it</span> while
                            making it <span class="accent">as sustainable as
                                possible</span>. Plus, if you want
                            to level up the game and start taking (LEGAL) supplements, I will provide you with a
                            <span class="accent">completely individualized list, how to take these supplements and in
                                what amounts</span> based on your individual factors (goals, weight, age, etc.)
                        </p>
                    </div>
                </div>

                <div class="pillar row">
                    <h3>Regular progress check-ins followed by root cause analysis, feedback, and proper routine
                        adjustments</h3>
                    <div class="d-flex col-12 col-lg-6">
                        <img class="icon bordered-img" src="/img/coaching/pillars/measurements.webp" loading="lazy" alt="">
                    </div>
                    <div class="pillar-text col-12 col-lg-6">
                        <p>
                            I won’t take it easy when it comes to your measurements and body pictures. I will analyze
                            <span class="accent">every little aspect</span> of
                            your results to get a clear understanding of what’s happening to your body, and (if needed)
                            adjust your training,
                            nutrition or recovery <span class="accent">to optimize your progress</span> at the highest
                            level possible. Again, to
                            ensure <span class="accent">the straight path</span>
                            towards the body you want, and <span class="accent">minimize/eliminate set-backs and
                                plateaus</span>. We have no time to
                            waste doing something
                            that doesn’t get the results
                        </p>
                    </div>

                </div>

                <div class="pillar row mb-4">
                    <h3>Life coaching, immediate support and routine adaptation</h3>
                    <div class="d-flex col-12 col-lg-6 order-lg-2">
                        <img class="icon bordered-img" src="/img/coaching/pillars/support.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-lg-6">
                        <p>
                            Do you face challenging times? Have to travel? Got sick? Planning a vacation? I will modify
                            your training,
                            nutrition, and everything else <span class="accent">to adapt your routine perfectly for all
                                kinds of
                                circumstances</span>. Plus, remember, I am
                            NOT just your trainer, and you are NOT just my customer. <span class="accent">We are
                                partners, and you can rely
                                on my support at any time</span></p>
                        <p>
                            <span class="underline">BONUS:</span> Do you like to talk? I support conversations on other topics as well.
                        </p>     
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="benefits" class="in-animate texture-scales block-neon-shadow-down">
        <div class="container-fluid">
            <h2>And it still doesn’t stop there</h2>
            <div id="benefits-items">
                <div class="benefit">
                    <img class="icon" src="/img/coaching/benefits/managed.webp" loading="lazy" alt="">
                    <p><span class="bold">Your whole health and fitness aspects of your life managed by me</span></p>
                    <p>You <span class="accent">will never spend even a second of your time</span> wondering what to do
                        next or what should be
                        changed. Any research, analysis, corrections – everything is delegated to me. So you can <span
                            class="accent">focus
                            on your life, family, work, hobbies, etc</span></p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/benefits/conditions.webp" loading="lazy" alt="">
                    <p><span class="bold">Got health conditions or physical limitations? Not a problem!</p>
                    <p>It’s very common for some trainers to push clients beyond their limits, causing injuries and
                        serious fatigue. But, for me, <span class="accent">your health and safety are always our
                            priority</span>, even if it
                        means a little slower progress</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/benefits/calls.webp" loading="lazy" alt="">
                    <p><span class="bold">Live zoom workout sessions and coaching calls</span></p>
                    <p>Right, I will provide you with <span class="accent">all the available tools</span> to ensure your
                        best workout execution and
                        to discuss everything we need in more details</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/benefits/apps.webp" loading="lazy" alt="">
                    <p><span class="bold">The apps that give you easy access to everything you need</span></p>
                    <p>Yes, I’ve optimized the process as best as I could to make sure <span class="accent">you don’t
                            feel burdened and
                            overwhelmed</span>. It’s very <span class="accent">time-efficient and simple</span> to
                        follow</p>
                </div>
            </div>
        </div>

    </section>


    <section id="whofor" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container-fluid">
            <h2>Who the program is for and not for</h2>
            <div id="takes" class="container">
                <div class="row">
                    <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You want to make significant changes in your physique, mindset, and lifestyle, and understand it
                        will take some time</p>
                    <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You just want to lose a few pounds and planning to do the program for only a few weeks</p>
                </div>
                <div class="row">
                    <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You are seriously dedicated and willing to give it at least 80-90% commitment</p>
                    <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You are an excuse maker with a careless attitude, or just lazy and unreliable</p>
                </div>
                <div class="row">
                    <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You are looking for more than just fitness training. You need a coach/partner who will provide a
                        whole new level of guidance and mentorship</p>
                    <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />All you want is just training and nutrition plans, and you believe you don’t need the guidance
                        on exercise execution, comprehensive feedbacks, mindset and life coaching, etc.</p>
                </div>
                <div class="row">
                    <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You are ready to accept constructive criticism, some tough love and even hard truth because you care about growth, improvement and serious progress</p>
                    <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You expect that I will be too understanding, empathetic and forgiving to your potential excuses, justifications, sloth, etc.</p>
                </div>
                <div class="row">
                    <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You are open to a bit of education/indoctrination (through my messages and premium content) on
                        why we do things the way we do them, and willing to ask questions</p>
                    <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You have a “just tell me what to do and that’s it” kind of mindset. You believe you are “too
                        busy” to invest just a little bit of your time to gain top-notch insights and knowledge (that
                        95% of people have no idea about) for your own future self-sufficiency</p>
                </div>
            </div>
        </div>

    </section>

    <section id="pricing" class="in-animate texture-scales block-neon-shadow-down">
        <h2 class="underline">Pricing</h2>
        <div id="pre-prices" class="container text-center">
            <p>Get a taste of the program’s ultimate value with a 5-day FREE trial. NO payment information required.</p>
            <p>Save 20% with a 4-months pack.</p>
        </div>
        <div id="period-selector">
            <a class="period-button period-selected" id="period-monthly-btn" href="">Monthly</a><a class="period-button"
                id="period-annually-btn" href="">4-months</a>
        </div>
        <div id="prices-container" class="container">
            <div class="price-card texture-prism">
                <div class="price-title">Essentials</div>
                <div class="price-cost"><span class="monthly-selected">249$</span><span
                        class="annually-selected">796$</span></div>
                <div class="price-for">Best for the maintenance mode</div>
                <div class="price-features">
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly progress check-ins and feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Timely training and nutrition adjustments</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">2 exercise form videos for analysis per week</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly nutrition feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Basic guidance on supplements</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Monthly training feedback and progress updates</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Basic monthly lifestyle audit</span></div>

                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Response time – within 24 hours</span></div>



                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                            class="feature-text">Coaching calls</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                            class="feature-text">Zoom training sessions</span></div>

                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                            class="feature-text">Weekend availability</span></div>
                </div>
            </div>

            <div class="price-card texture-prism">
                <span class="price-best-tag">Best value</span>
                <div class="price-title">Gold</div>
                <div class="price-cost"><span class="monthly-selected">399$</span><span
                        class="annually-selected">1277$</span></div>
                <div class="price-for">Great progress at your own pace</div>
                <div class="price-features">
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly progress check-ins and feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Timely training and nutrition adjustments</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">4 exercise form videos for analysis per week</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">2 times per week nutrition feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Basic guidance on supplements</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly training feedback and progress updates</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Basic monthly lifestyle audit</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Response time – within 12 hours</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Monthly coaching calls</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly zoom training sessions</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                            class="feature-text">Weekend availability</span></div>
                </div>
            </div>

            <div class="price-card texture-prism">
                <div class="price-title">VIP</div>
                <div class="price-cost"><span class="monthly-selected">549$</span><span
                        class="annually-selected">1757$</span></div>
                <div class="price-for">Fast track to a great-looking body</div>
                <div class="price-features">
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly progress check-ins and feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Timely training and nutrition adjustments</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">6 exercise form videos for analysis per week</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">3 times per week nutrition feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Thorough guidance on supplements</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly training feedback and progress updates</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Detailed bi-weekly lifestyle audit</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Response time – 6 hours</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly coaching calls</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly zoom training sessions</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekend availability</span></div>
                </div>
            </div>
        </div>
        <div id="post-prices" class="container text-center">
            <p>* The packages can be customized specifically for your goals and needs</p>
        </div>
    </section>

    <section id="contact" class="in-animate texture-brick block-neon-shadow-down">
        <div class="side-block">
            <h2>Are you ready?</h2>
            <p>Get in touch with me NOW to book your strategy session and get started on your FREE trial</p>
            <br>
            <a href="tel:+17867417710"><img class="contact-img" src="/img/contact/call.png" loading="lazy" alt="">
                +1-786-741-7710</a>
            <br>
            <a href="mailto:trainedbynik@gmail.com"><img class="contact-img" src="/img/contact/email.png" loading="lazy"
                    loading="lazy" alt="">
                trainedbynik@gmail.com
            </a>
        </div>
    </section>
</main>