<main id="coaching-page">
    {{> sections/coaching/main}}
    {{> sections/coaching/hook}}
    {{> sections/coaching/success}}
    {{> sections/coaching/why}}
    {{> sections/coaching/pillars}}
    {{> sections/coaching/benefits}}
    {{> sections/coaching/push}}
    {{> sections/coaching/whofor}}
    {{> sections/coaching/final-message}}
    {{> sections/coaching/pricing}}
    {{> sections/coaching/faq}}
    {{> sections/coaching/contact}}
</main>