<main id="coaching-page">
    <section id="main-video-container" class="block-shadow-down">
        <div id="title-text">
            <h1 class="mb-1">The #1 Fitness Coaching Program </h1>
            <h2>To Help You Build A Head-Turning Physique, Become A High-Performance Machine, And Start Living A
                More
                Powerful Life</h2>

            <div id="main-action-block" class="action-block">
                <a href="#promo">
                    Tell me more
                </a>

                <a href="#contact">
                    Contact
                </a>
            </div>
        </div>
        <img id="main-play-image" src="/img/coaching/coaching-main.webp" class="in-animate" alt="">
        <img id="strip-image-coaching" src="/img/strip.png" alt="">
    </section>

    <section id="promo" class="in-animate texture-scales block-neon-shadow-down">
        <h2 class="underline">Watch this video to learn more</h2>
        <div id="vimeo-container">
            <img src="/img/red-arrow.webp" alt="" class="arrow">
            <iframe id="promo-vimeo" src="https://player.vimeo.com/video/749910680?h=da0cb51709&title=0&portrait=0"
                frameborder="0" allowfullscreen></iframe>
            <img src="/img/red-arrow.webp" alt="" class="arrow rotated180">
        </div>
    </section>

    <section id="intro" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container">
            <div class="subsection row mt-4">
                <div class="text col-12 col-md-8">
                    <p class="bold text-center">Most Peoples' Approach To Getting In Shape Is <span class="accent">All
                            Wrong</span>.</p>
                    <p class="underline text-center">But, it's not their fault.</p>
                    <p>
                        You might think that to build a great-looking body, you
                        need to spend 2-3 hours in a gym 5-6 days a week.
                    </p>
                    <p>
                        You might think that the only way to achieve six-pack
                        abs <span class="bold">is to starve, crunch, and repeat.</span>
                    </p>
                    <p>
                        You might think that achieving peak physical
                        fitness <span class="bold">
                            is all about training more and
                            dieting hard.
                        </span> Wrong.
                    </p>
                    <p>
                        Instead, real change happens when
                        you do things <span class="bold">SMARTER</span>.
                    </p>

                    <p class="accent bold underline">So you need a special approach.</p>
                </div>
                <div class="side-images col-12 col-md-4">
                    <img class="bordered-img" src="/img/coaching/nick1.webp" loading="lazy" alt="">
                </div>

            </div>

            <div class="subsection row">
                <div class="side-images d-none d-md-block col-md-4">
                    <img class="bordered-img" src="/img/coaching/nick2.webp" loading="lazy" alt="">
                </div>
                <div class="text col-12 col-md-8">
                    <p class="bold text-center">What Does Working Out <span class="accent">Smarter</span> Look Like?</p>
                    <p>
                        Using a program that's designed
                        <span class="underline">specifically for your abilities and goals.</span>
                    </p>
                    <p>
                        Getting <span class="underline">real-time feedback on proper form</span> for the
                        most efficient progress in muscle building and fat loss.
                    </p>
                    <p>
                        Learning <span class="bold">
                            the foundational principles so you
                            become self-sufficient in your fitness journey.
                        </span>
                    </p>
                    <p>
                        Delegating all the research on me, so I <span class="bold">crack the code</span> to
                        your own, most sustainable and efficient fitness journey.
                    </p>
                </div>


            </div>

            <div class="subsection row">
                <div class="text col-12 col-md-8">
                    <p>
                        Knowing <span class="underline">what to eat and when to eat</span> for
                        best progress and without starving yourself.
                    </p>
                    <p>
                        Having someone there to <span class="underline">
                            keep you accountable,
                            supported, and on the straight path towards success.
                        </span>
                    </p>
                    <p>And, most importantly...</p>
                    <p>Having more time <span class="accent bold">outside the gym to live your life.</span></p>
                </div>
                <div class="side-images col-12 col-md-4">
                    <img class="bordered-img" src="/img/coaching/nick3.webp" loading="lazy" alt="">
                </div>

            </div>

            <p class="big-text text-center bold mt-2">And That's Where <span class="accent">TrainedByNik's
                    Coaching</span>
                Comes
                In...</p>
        </div>

    </section>

    <section id="pillars" class="in-animate texture-scales block-neon-shadow-down">
        <div class="container">
            <h2 class="underline">The <span class="accent">Core Pillars</span> Of The Program</h2>

            <div id="pillars-block">
                <div class="pillars-texts">
                    <span class="pillar-text"> Efficiency & Sustainability</span>
                    <span class="pillar-text">Ensuring Your Self-Sufficiency</span>
                </div>
                <img id="pillars-img" src="/img/coaching/pillars-graphic-aligned_edited.webp" loading="lazy" alt="">
                <div class="pillars-texts">
                    <span class="pillar-text">Advanced Skills & Knowledge</span>
                    <span class="pillar-text">Complete Customization</span>
                </div>
            </div>

            <div id="pillars-detailed" class="container">
                <div class="pillar row">
                    <h3>Efficiency And Sustainability</h3>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/timer.webp" loading="lazy" alt="">
                    </div>
                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            Teaching you how to train <span class="accent bold">SMART and achieve the MOST results with
                                LESS
                                time
                                spent</span>
                            on training, so you do not
                            have to live in a gym to achieve great results.
                        </p>
                        <p>
                            Helping you with a <span class="accent bold">sustainable and even enjoyable nutrition
                                plan</span>,
                            to
                            make
                            sure
                            you don't feel overly restricted and miserable.
                        </p>
                        <p>
                            With me, you won't have to live in a gym and follow hardcore diets to achieve great results.
                            You
                            will
                            still
                            <span class="accent bold">enjoy your life and the process.</span>
                        </p>
                    </div>

                </div>


                <div class="pillar row">
                    <h3>Complete Customization And Individual Guidance</h3>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/note.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            My coaching program entails <span class="accent bold">complete flexibility and is built
                                specifically
                                for
                                you</span> to provide the guidance,
                            insights, and tools you need individually to match your own goals and needs. From every
                            aspect
                            of my
                            coaching to the price point, to ensure you get the <span class="accent bold">
                                results you want, at a pace you want, with the guidance
                                you need
                            </span> individually.
                        </p>
                        <p>
                            My program has <span class="accent bold">NO automation</span> in place. I do all the work
                            with
                            clients
                            personally and manually, paying
                            attention to all the little details, and with complete focus and dedication to their <span
                                class="accent bold">success.</span> You will never
                            wonder what's next or what you are doing wrong.
                        </p>
                    </div>
                </div>
                <div class="pillar row">
                    <h3>Advanced Knowledge And Skills</h3>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/bulb.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            With me, you have the chance to learn and practice the <span
                                class="accent bold">foundational
                                concepts</span>
                            I derived from the decade of learning, researching, and experimenting.
                        </p>
                        <p>
                            I don't just tell you what to do, I also explain to you WHY we do it that way. With the
                            educational
                            aspect
                            of my coaching and premium content, you get empowered with <span class="accent bold">
                                advanced fitness principles and skills that 95%
                                of people just have NO idea about.
                            </span>
                        </p>
                    </div>

                </div>

                <div class="pillar row mb-4">
                    <h3>Helping You Become Self-Sufficient</h3>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/hands.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            At some point, once you achieve that proficiency and mastery of the SMART approach, you will
                            <span class="accent bold">
                                become
                                self-sufficient in your fitness journey
                            </span> and won't have to rely on any other trainer or program again.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="success" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container">
            <h2>Client Success Stories</h2>
            <div class="story row">
                <div class="col-12 col-md-4">
                    <p class="review">
                        "At first, like everybody,
                        I was a bit skeptical"
                    </p>
                    <a href="https://vimeo.com/634714800/00ca5369ee" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/peter.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Peter Barber</p>
                        <p>Singaporean Businessman, the CEO of ComCrop</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <p class="underline">20-Week Results</p>
                    <div class="results">
                        <p>
                            Lost <span class="accent bold">9.5 inches</span> off the waist <br>
                            Lost <span class="accent bold">22 pounds</span> in weight <br>
                            Gained <span class="accent bold">12 pounds</span> of muscle <br>
                            Cut <span class="accent bold">10 years</span> off his age <br>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 images stacked-images stacked-tight">
                    <img class="bordered-img" src="/img/coaching/success/peter1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/peter2.webp" loading="lazy" alt="">
                    <img class="bordered-img mb-3" src="/img/coaching/success/peter3.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>

            <div class="story row">
                <div class="col-12 col-md-4">
                    <p class="review">
                        "Out Of 7 People I Referred To Nik, Not A Single One Has Failed"
                    </p>
                    <a href="https://vimeo.com/573582244/e5fc00056c" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/steve.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Steve Bolton</p>
                        <p>Well-known British Entrepreneur And Celebrity Mentor</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="results">
                        <p>
                            Steve completely transformed his <span class="accent bold">body, health, energy levels, and
                                other
                                areas of life.</span>
                        </p>
                        <p>
                            Steve was so impressed with the program that <span class="accent bold">he onboarded 4 of his
                                business partners and even 2 kids.</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 images">
                    <img class="bordered-img" src="/img/coaching/success/steve.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>

            <div class="story row">
                <div class="col-12 col-md-4">
                    <p class="review">
                        "In Just 3 Months I Already Got In The Best Shape Of My Life"
                    </p>
                    <a href="https://vimeo.com/615070040" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/john.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">John</p>
                        <p>Company Vice-President
                            From Virginia</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <p class="underline">1-Year Results</p>
                    <div class="results">
                        <p>
                            Lost <span class="accent bold">10.35 inches</span> off the waist <br>
                            Lost <span class="accent bold">35 pounds</span> of weight <br>
                            Gained <span class="accent bold">20 pounds</span> of muscle <br>
                            Skyrocketed his <span class="accent bold">work performance, grew his team and got
                                promoted.</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 images stacked-images">
                    <img class="bordered-img" src="/img/coaching/success/john1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/john2.webp" loading="lazy" alt="">
                    <img class="bordered-img mb-3" src="/img/coaching/success/john3.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>

            <div class="story row">
                <div class="col-12 col-md-4">
                    <p class="review">
                        "If You Want Life-Changing Results, Go With TrainedByNik"
                    </p>
                    <a href="https://vimeo.com/647838386" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/simon.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Simon Lattarche</p>
                        <p>British Entrepreneur,
                            Investor, And CFO</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <p class="underline">20-Week Results</p>
                    <div class="results">
                        <p>
                            Lost <span class="accent bold">12 cm</span> off the waist <br>
                            Lost <span class="accent bold">19 pounds</span> of weight <br>
                            Gained <span class="accent bold">10 pounds</span> of muscle <br>
                            Boosted his <span class="accent bold">energy levels, improved his health, and transformed
                                his
                                mindset.</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 images">
                    <img class="bordered-img" src="/img/coaching/success/simon.webp" loading="lazy" alt="">
                </div>
            </div>
        </div>

    </section>

    <section id="more-success" class="in-animate texture-scales block-neon-shadow-down">
        <div class="container">
            <h2>Even More Client Video Testimonials And Transformations</h2>
            <div id="testimonials">
                <div class="testimonial">
                    <h4>Bob Lindner</h4>
                    <p class="whois">Ex-Policeman And Salesman From Ohio</p>
                    <a href="https://vimeo.com/723409122/6fbfa3c0ca" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/bob.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">"I live a very busy and stressful life, but Nik still helped me lose fat,
                        gain
                        muscle, and just look a
                        whole lot better"</p>
                </div>
                <div class="testimonial">
                    <h4>Rich Courtemanche</h4>
                    <p class="whois">Sales Representative From Canada</p>
                    <a href="https://vimeo.com/409735453/e2245914a5" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/richard.webp"
                            loading="lazy" alt="">
                    </a>
                    <p class="testiomial-text">"That first conversation I had with Nik was a turning point. If I could
                        change
                        just one thing - it would
                        be meeting Nik sooner"</p>
                </div>
                <div class="testimonial">
                    <h4>Robert "RJ" Falconi</h4>
                    <p class="whois">Managing Director From Canada</p>
                    <a href="https://vimeo.com/437376095/16549cdbcb" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/robert.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">"Nik did a job I didn't even expect. He has taken me to the level I've
                        never
                        been
                        at before"</p>
                </div>
                <div class="testimonial">
                    <h4>Jon Godden</h4>
                    <p class="whois">Company CFO From The UK</p>
                    <a href="https://vimeo.com/722485112/70dfb7038b" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/jon.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">"Even after just 2 weeks in Nik's program I started seeing results,
                        making
                        conscious choices, and live a
                        much better life"</p>
                </div>
                <div class="testimonial">
                    <h4>Lyda And Luis Montoya</h4>
                    <p class="whois">Parent Couple From North Carolina</p>
                    <a href="https://vimeo.com/577108757/837c9a9445" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/lydaluis.webp"
                            loading="lazy" alt="">
                    </a>

                    <p class="testiomial-text">"Even though we were very skeptical at first, working with Nik turned out
                        to
                        be a
                        completely
                        life-changing experience"</p>
                </div>
                <div class="testimonial">
                    <h4>Clare Godden</h4>
                    <p class="whois">Mom Of Twins From The UK</p>
                    <a href="https://vimeo.com/757714667/acc8e5de0c" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/clare.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">"The results I've achieved with Nik are just phenomenal, nothing I've
                        done in
                        the
                        past got me the results he did"</p>
                </div>
            </div>
            <div id="transformations">
                <img class="bordered-img" src="/img/coaching/transformations/1.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/2.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/3.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/4.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/5.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/6.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/7.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/coaching/transformations/8.webp" loading="lazy" alt="">
            </div>

            <img class="w-100 mt-3" src="/img/coaching/Final.webp" loading="lazy" alt="">
        </div>

    </section>

    <section id="benefits" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container">
            <h2>What Exact Services And Benefits For Your Success My Program Will Provide You With?</h2>
            <div id="benefits-items">
                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/dumbbell-icon.webp" loading="lazy" alt="">
                    <p>An in-depth workout and exercise form analysis.</p>
                    <p>To improve your efficiency, maximize your progress, and ensure your safety.</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/zoom-icon.webp" loading="lazy" alt="">
                    <p>Live zoom workout sessions and coaching calls.</p>
                    <p>To take your training mastery even further and discuss other aspects in more detail.</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/nutrition-icon.webp" loading="lazy" alt="">
                    <p>Extensive guidance on nutrition and supplementation.</p>
                    <p>To make sure we achieve the results we want as sustainably as possible.</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/feedback-icon.webp" loading="lazy" alt="">
                    <p>Regular progress check-ins with timely routine adjustments.</p>
                    <p>To make sure we improve on a consistent basis and never get stuck.</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/apps-icon.webp" loading="lazy" alt="">
                    <p>The app that gives you easy access to everything you need.</p>
                    <p>To make sure our process is very time-efficient and simple to follow.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="pricing" class="in-animate texture-scales block-neon-shadow-down">
        <h2 class="underline">Learn more about pricing</h2>
        <div id="vimeo-container">
            <img src="/img/red-arrow.webp" alt="" loading="lazy" class="arrow">
            <iframe id="pricing-vimeo" src="https://player.vimeo.com/video/759077018?h=28b9ff0e88&title=0&portrait=0"
                frameborder="0" allowfullscreen></iframe>
            <img src="/img/red-arrow.webp" alt="" loading="lazy" class="arrow rotated180">
        </div>
    </section>

    <section id="contact" class="in-animate texture-brick block-neon-shadow-down">
        <div class="text-block">
            <h2>So are you ready?</h2>
            <div id="contact-action-block" class="action-block mb-1">
                <a href="https://calendly.com/nikkurdoyak/strategy-session?month=2022-10">
                    Book a call with me
                </a>
            </div>
            <br>
            <a href="mailto:trainedbynik@gmail.com"><img class="contact-img" src="/img/contact/email.png" loading="lazy"
                    loading="lazy" alt="">
                trainedbynik@gmail.com
            </a>
        </div>
    </section>
</main>