<main id="coaching-page">
    <section id="main-video-container" class="block-shadow-down">
        <div id="title-text">
            <h1 class="mb-1">The #1 Fitness Coaching Program </h1>
            <h2>To Help You Build A Head-Turning Physique, Obtain Ultimate Confidence, And Start Living A More Powerful Life <u>In ONLY 4-12 Months</u></h2>
            <h2 id="first-features">International - Men or Women - Gym or Home - FREE trial</h2>
        </div>
        <img id="main-play-image" src="/img/coaching/coaching-main.webp" class="in-animate" alt="">
        <img id="strip-image-coaching" src="/img/strip.png" alt="">
    </section>

    <section id="success" class="in-animate texture-scales block-neon-shadow-down">
        <h2 class="underline">Why choose TrainedByNik?</h2>
        <div id="vimeo-container">
            <img src="/img/red-arrow.webp" alt="" class="arrow">
            <iframe id="promo-vimeo" src="https://player.vimeo.com/video/749910680?h=da0cb51709&title=0&portrait=0"
                frameborder="0" allowfullscreen></iframe>
            <img src="/img/red-arrow.webp" alt="" class="arrow rotated180">
        </div>

        <div class="container">

            <hr>

            <div class="story row">
                <h3 class="story-title">Mind-blowing transformation journey and what’s unique about TrainedByNik</h3>

                <div class="col-12 col-md-7">
                    <p class="review">
                        "I haven’t met anybody that’s changed my life to this extent"
                    </p>
                    <a href="https://youtu.be/GFgQrOQLp0Q" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/richard.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Rich Courtemanche from Canada</p>
                        <p>Salesman in the mining industry</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 images stacked-images">
                    <img class="bordered-img" src="/img/coaching/success/john1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/john2.webp" loading="lazy" alt="">
                    <img class="bordered-img mb-3" src="/img/coaching/success/john3.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>


            <div class="story row">
                <h3 class="story-title">Only dumbbells, minimal food sacrifices, still insane results</h3>

                <div class="col-12 col-md-7">
                    <p class="review">
                        "What makes Nik stand out is his direct, no-nonsense style"
                    </p>
                    <a href="https://youtu.be/EX0lrX9TThU" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/peter.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">Peter Barber From Singapore</p>
                        <p>Well-known Entrepreneur and family man</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 images stacked-images stacked-tight">
                    <img class="bordered-img" src="/img/coaching/success/peter1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/peter2.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>

            <div class="story row">
                <h3 class="story-title">Got in the best shape of his life in only 3 months and even transformed his career</h3>

                <div class="col-12 col-md-7">
                    <p class="review">
                        "The greatest example of the best decision ever made"
                    </p>
                    <a href="https://youtu.be/PWhJxw9-0dw" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/john.webp" loading="lazy"
                            alt="">
                    </a>
                    <img src="/img/coaching/stars.webp" loading="lazy" alt="">

                    <div class="signature">
                        <p class="name">John From New York</p>
                        <p>Company Vice-President</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 images stacked-images">
                    <img class="bordered-img" src="/img/coaching/success/john1.webp" loading="lazy" alt="">
                    <img class="bordered-img" src="/img/coaching/success/john2.webp" loading="lazy" alt="">
                    <img class="bordered-img mb-3" src="/img/coaching/success/john3.webp" loading="lazy" alt="">
                </div>
            </div>

            <hr>

        </div>

        <div id="testimonials" class="container">
                <div class="testimonial">
                    <h4>Steve Bolton</h4>
                    <p class="whois">Well-known British Entrepreneur and celebrity mentor</p>
                    <a href="https://youtu.be/pc4Pq1lsnRg" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/steve.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">"Out Of 7 People I Referred To Nik, Not A Single One Has Failed"</p>
                </div>
                <div class="testimonial">
                    <h4>Jane</h4>
                    <p class="whois">Well-known British Entrepreneur and celebrity mentor</p>
                    <a href="https://youtu.be/pc4Pq1lsnRg" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">“I couldn’t believe I would achieve such results with my health limitations and training at home only 3 times a week”</p>
                </div>
                <div class="testimonial">
                    <h4>Simon Lattarche</h4>
                    <p class="whois">British CFO and Investor</p>
                    <a href="https://youtu.be/pc4Pq1lsnRg" target="_blank">
                        <img class="bordered-img video-img" src="/img/coaching/videopreviews/simon.webp" loading="lazy"
                            alt="">
                    </a>
                    <p class="testiomial-text">“At the beginning I was skeptical to start Nik’s program, but now even my 12-year old son also works with Nik”</p>
                </div>
            <img class="w-100 mt-3" src="/img/coaching/Final.webp" loading="lazy" alt="">
        </div>

        <div class="container additional">
            <p>
                Want to speak with some of my clients personally? Not a problem! Send a message request to +1-786-741-7710 (in
                WhatsApp) with your name and the name of the client(s) you would like to speak to, and I will provide you with the
                contact information
            </p>
        </div>
    </section>

    <section id="pillars" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container">
            <h2 class="underline">My program goes beyond just giving you training and nutrition plans to follow</h2>

            <div id="pillars-detailed" class="container">
                <div class="pillar row">
                    <h3>An in-depth analysis of your workouts and exercise execution followed by comprehensive feedback and progress updates</h3>
                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            NOT a single rep during your sets will be disregarded. NOT a little form imperfection will be ignored. I will deep
                            dive into every little detail of your training (which you will log in the app and send videos using WhatsApp),
                            provide you with the feedback and update your progress for next workout. To ensure the straight line quickest
                            success to your best physique, maximize your training efficiency, and also guarantee your safety.
                        </p>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/timer.webp" loading="lazy" alt="">
                    </div>
                </div>


                <div class="pillar row">
                    <h3>Extensive guidance on nutrition and supplementation with thorough feedback</h3>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/note.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            You will never hear me saying things like “You are good”, “I like it, keep it up”, or just giving you thumbs up.
                            Instead, I will dig into every gram of your nutrients (which you will log via MyFitnessPal, it’s very simple), and
                            give you an in-depth response on how we can improve it while making it as sustainable as possible. Plus, if you want
                            to level up the game and start taking (LEGAL) supplements, I will provide you with a completely individualized list
                            and even dosages based on your individual factors (goals, weight, age, etc.)
                        </p>
                    </div>
                </div>

                <div class="pillar row">
                    <h3>Regular progress check-ins followed by root cause analysis, feedback, and proper routine adjustments</h3>
                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            I won’t take it easy when it comes to your measurements and body pictures. I will analyze every little aspect of
                            your results to get a clear understanding of what’s happening to your body, and (if needed) adjust your training,
                            nutrition or recovery to optimize your progress at the highest level possible. Again, to ensure a straight path
                            towards the body you want, and minimize/eliminate set-backs and plateaus. We have no time to waste doing something
                            that doesn’t get the results
                        </p>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/bulb.webp" loading="lazy" alt="">
                    </div>
                </div>

                <div class="pillar row mb-4">
                    <h3>Life coaching, immediate support and routine adaptation</h3>
                    <div class="col-12 col-md-2 col-lg-2 pr-3 d-flex">
                        <img class="icon" src="/img/coaching/icons/hands.webp" loading="lazy" alt="">
                    </div>

                    <div class="pillar-text col-12 col-md-10 col-lg-10">
                        <p>
                            Do you face challenging times? Have to travel? Got sick? Planning a vacation? I will modify your training,
                            nutrition, and everything else to adapt your routine perfectly for all kinds of circumstances. Plus, remember, I am
                            NOT just your trainer, and you are NOT just my customer. We are partners, and you can rely on my support at any time
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="benefits" class="in-animate texture-scales block-neon-shadow-down">
        <div class="container-fluid">
            <h2>And it still doesn’t stop there</h2>
            <div id="benefits-items">
                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/dumbbell-icon.webp" loading="lazy" alt="">
                    <p><span class="bold">Your whole health and fitness aspects of your life managed by me</span></p>
                    <p>You will never spend even a second of your time wondering what to do next or what should be changed. Any research, analysis, corrections – everything is delegated to me. So you can focus on your life, family, work, hobbies, etc</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/zoom-icon.webp" loading="lazy" alt="">
                    <p><span class="bold">Got health conditions or physical limitations? Not a problem!</p>
                    <p>It’s very common for some trainers to push clients beyond their limits, causing injuries and serious fatigue. But, not for me. Your health and safety are always our priority, even if it means a little slower progress</span></p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/nutrition-icon.webp" loading="lazy" alt="">
                    <p><span class="bold">Live zoom workout sessions and coaching calls</span></p>
                    <p>Right, I will provide you with all the available tools to ensure your best workout execution and to discuss everything we need in more details</p>
                </div>

                <div class="benefit">
                    <img class="icon" src="/img/coaching/icons/feedback-icon.webp" loading="lazy" alt="">
                    <p><span class="bold">The apps that give you easy access to everything you need</span></p>
                    <p>Yes, I’ve optimized the process as best as I could to make sure you don’t feel burdened and overwhelmed. It’s very time-efficient and simple to follow</p>
                </div>
            </div>
        </div>

    </section>


    <section id="benefits" class="in-animate texture-brick block-neon-shadow-down">
        <div class="container-fluid">
            <h2>Who the program is for and not for</h2>
            <p>[Text will be here]</p>
        </div>

    </section>

    <section id="pricing" class="in-animate texture-scales block-neon-shadow-down">
        <h2 class="underline">Learn more about pricing</h2>
        <div id="pre-prices" class="container text-center">
            <p>See how the program works with a 5-day FREE trial.</p>
            <p>Save 20% with a 4-months pack.</p>
        </div>
        <div id="period-selector">
            <a class="period-button period-selected" id="period-monthly-btn" href="">Monthly</a><a class="period-button"
                id="period-annually-btn" href="">4-months</a>
        </div>
        <div id="prices-container" class="container">
            <div class="price-card texture-prism">
                <div class="price-title">Essentials</div>
                <div class="price-cost"><span class="monthly-selected">249$</span><span
                        class="annually-selected">796$</span></div>
                <div class="price-features">
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly progress check-ins and feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Timely training and nutrition adjustments</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">3 exercise form videos for analysis per week</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly nutrition feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Monthly training feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Response time – within 48 hours</span></div>
                </div>
            </div>

            <div class="price-card texture-prism">
                <span class="price-best-tag">Best value</span>
                <div class="price-title">Gold</div>
                <div class="price-cost"><span class="monthly-selected">399$</span><span
                        class="annually-selected">1277$</span></div>
                <div class="price-features">
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly progress check-ins and feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Timely training and nutrition adjustments</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">6 exercise form videos for analysis per week</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">2 times per week nutrition feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly training feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Response time – within 24 hours</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly workout progress updates</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Monthly coaching calls</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly zoom training sessions</span></div>
                </div>
            </div>

            <div class="price-card texture-prism">
                <div class="price-title">VIP</div>
                <div class="price-cost"><span class="monthly-selected">549$</span><span
                        class="annually-selected">1757$</span></div>
                <div class="price-features">
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly progress check-ins and feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Timely training and nutrition adjustments</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">10 exercise form videos for analysis per week</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">3 times per week nutrition feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly training feedback</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Response time – 12 hours</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly workout progress updates</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Bi-weekly coaching calls</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekly zoom training sessions</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Weekend availability</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">In-depth guidance on supplements</span></div>
                    <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                            class="feature-text">Monthly in-depth lifestyle audit</span></div>
                </div>
            </div>
        </div>
        <div id="post-prices" class="container text-center">
            <p>
                * Workout progress updates – the exact guidance on what weights and reps to use for each specific
                exercise (based on your form, limitations, etc). For the fastest, most efficient, and safest progress
                possible.
            </p>

        </div>
    </section>

    <section id="contact" class="in-animate texture-brick block-neon-shadow-down">
        <div class="text-block">
            <h2>So are you ready?</h2>
            <p>Don’t know where to start? Or do you want individually customized features based on your own specific
                goals and needs?
                Book a Call OR Email me for any questions
            </p>
            <div id="contact-action-block" class="action-block mb-1">
                <a href="https://calendly.com/nikkurdoyak/strategy-session?month=2022-10" target="_blank">
                    Book a call with me
                </a>
            </div>
            <br>
            <a href="mailto:trainedbynik@gmail.com"><img class="contact-img" src="/img/contact/email.png" loading="lazy"
                    loading="lazy" alt="">
                trainedbynik@gmail.com
            </a>
        </div>
    </section>
</main>