
<div
    class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 emptySection bgCover100 div_x1hz2l">
    <div class="containerInner ui-sortable div_k45ytv">
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_dwvoct">
            <div class="innerContent col_left ui-resizable col-md-5 div_pgroc4">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_kolygz">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_h5d1w3">
                        <img src="./img/123.png" width="400" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-7 div_qy7hnb">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_eleuxq">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_grgnfo">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_q8gx3b"><b><u>Meet
                                    Your
                                    Coach.</u></b></h1>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_w84xfq">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_3jatqf">
                            Hi everyone. My name is Nik Kurdoyak and I am the executive fitness coach at
                            TrainedByNik. My passion is to help company executives, entrepreneurs and teams
                            transform their bodies, energy levels, work performance, and overall quality of
                            lives.&#xA0;<div><br></div>
                            <div>And, most importantly, to achieve all that in a sustainable and efficient way,
                                without restrictive diets and insane training routines.<br>
                                <div><br></div>
                                <div>So far, I&apos;ve already helped hundreds of people transform their bodies and
                                    minds, and I want to help you too!</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div
    class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection div_8cjw2y">
    <div class="containerInner ui-sortable">
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_9oit4i">
            <div class="col-md-4 innerContent col_left ui-resizable div_2fhcym">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_moghty">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_50dg68">
                        <img src="./img/1517774044183.jpg" width="150" tabindex="0">
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_oyk83d">
                        <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 div_7rp5z2">
                            <i>&quot;Nik is the best coach I&apos;ve ever had in my
                                entire life,
                                and his online coaching program is just life-changing. In fact, in just the
                                first few months I also onboarded 4 of my business partners and even 2 kids, and
                                they are also extremely happy with results and overall coaching
                                experience&quot;&#xA0;</i>
                        </div>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_9vy3uk">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_bkhat4"><i><b>STEVE
                                    BOLTON</b></i></h2>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_tw0wk">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_ihocsz">
                            <b><i>WELL-KNOWN BRITISH ENTREPRENEUR &amp;
                                    FOUNDER OF BOLT
                                    PARTNERS</i></b>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_4sxeav">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_gmv6y5">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_syvvc3">
                        <img src="./img/1527125479796.jpg" width="150" tabindex="0">
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable hiddenElementTools de-editable div_6uhe75">
                        <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 div_eok1q3">
                            <i>&quot;Nik is truly passionate about his craft. He lives and breathes fitness, which
                                isn&#x2019;t very common in a jacks-of-all trades society. He really cares about his
                                clients. Himself he is very reliable, trustworthy and serious. That guy won&#x2019;t
                                let you down.&#xA0;</i><i class="i_w5ryi3">Highly
                                recommend!&quot;&#xA0;</i>
                        </div>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_9oqbi9">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_85vioq">
                            <font color="#a40000"><b><i>AMER KAMRA</i></b></font>
                        </h2>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_ounr40">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_goor1e">
                            <b><i>CANADIAN PRO FITNESS MODEL &amp; 7-FIGURE
                                    ENTREPRENEUR</i></b>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_lpkyxm">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_sajeuv">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_5bipgs">
                        <img src="./img/1567555136643.jpg" width="150" tabindex="0">
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_p0e957">
                        <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 div_3h67a0">
                            <i>&quot;In the beginning I was very skeptical, but after just the first week I had
                                realized I made the best decision. Nik had completely transformed my body,
                                health and energy levels. Nik doesn&apos;t just deliver, he over-delivers. It&apos;s
                                been
                                over a year since we started but I can&apos;t imagine to go without him
                                anymore.</i><i class="i_sj8d0g">&quot;&#xA0;</i>
                        </div>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_6lrejf">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_9q1r7a">
                            <font color="#a40000"><b><i>SIMON LATARCHE</i></b></font>
                        </h2>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_p7tu62">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_7jssun"><b><i>BRITISH
                                    ENTREPRENEUR &amp; CFO OF 2
                                    COMPANIES</i></b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="success-stories-section"
    class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgCover101 emptySection div_i5qzes">
    <div class="containerInner ui-sortable">
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_2w5f5y">
            <div class="col-md-12 innerContent col_left div_66ea8d">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_x0u84l">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_heuo8f">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_5d9dmy"><b><u>Client
                                    success
                                    stories</u></b></h1>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_xpxylf">
            <div class="innerContent col_left ui-resizable col-md-2 div_plh7un">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_lkkdvo">
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-6 div_1l57k4">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_fsa21p">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_6w8a3p">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_w93iqk"><b><u>Steve
                                    Bolton
                                    Video Testimonial</u></b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_u311w9">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_ttgah3">
                            <div class="fluid-width-video-wrapper div_dq2ho5"><iframe
                                    src="./resources/saved_resource.html" frameborder="0" wmode="opaque"
                                    id="fitvid615503"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-4 div_hvzpas">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_p34q9n">
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_7k3ebm">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_ivdwa2">
                            <li class="li_gbg91t">
                                <i class="fa-fw fas fa-arrow-right i_j5r94s"></i><b>Well-known
                                    British entrepreneur.</b>
                            </li>
                            <li class="li_vb9wea">
                                <i class="fa-fw fas fa-arrow-right i_hn2zr4"></i><b>The Owner of
                                    Bolt Partners.</b>
                            </li>
                            <li class="li_3vt5wp">
                                <i class="fa-fw fas fa-arrow-right i_hdewt4"></i><b>Property
                                    investor.</b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elHeadlineWrapper radius5 ui-droppable de-editable div_9tlc33">
                        <h2
                            class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 radius5 borderLight borderSolid border3px h2_8tp16n">
                            Steve was so
                            impressed with the program that he happily <b>onboarded 4 of his business partners
                                and even 2 kids.</b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_j0xq6t">
            <div class="innerContent col_left ui-resizable col-md-6 div_7ktyx0">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_7jbx49">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_mxb03m"
                        id="img-16617">
                        <img src="./img/Steve-2.jpg" width="275" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-6 div_n5vv5i">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_26x0rf">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_k91fwl"
                        id="img-11754">
                        <img src="./img/Steve-1.jpg" width="400" tabindex="0">
                    </div>
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_lr5vkq">
                        <img src="./img/Steve-3.jpg" width="400" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_3hwtgo">
            <div class="col-md-12 innerContent col_left div_y272gc">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_z59rc">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_nim8sh">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_sp29qr">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_6gtxlb">
            <div class="innerContent col_left ui-resizable col-md-2 div_wta8xa">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_bcho0o">
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-6 div_ebx8wu">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_y8v7vf">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_6vwrwp">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_1rq8im"><b><u>Peter
                                    Barber
                                    Video Testimonial</u></b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_svaa54">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_ntnyk0">
                            <div class="fluid-width-video-wrapper div_z4arzh"><iframe
                                    src="./resources/saved_resource(1).html" frameborder="0" wmode="opaque"
                                    id="fitvid492795"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-4 div_71qpku">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_6gqldp">
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_pwprb3">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_1wyxqh">
                            <li class="li_7j6upg">
                                <i class="fa-fw fas fa-arrow-right i_56zzcc"></i><b>Singaporean
                                    businessman, the CEO of
                                    ComCrop.</b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_a13i4u">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_9vmk9c">
                            <b><u>Results in 20 weeks:</u></b>
                        </h1>
                    </div>
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_wkwmo">
                        <ul
                            class="ne elBulletList elBulletListNew elBulletList2 listBorder0 elBulletList_theme3 ul_11muo1">
                            <li class="li_hrvv8k">
                                <i class="fa fa-fw fa-check"></i><b>Lost 9.5 Inches off
                                    the waist.</b>
                            </li>
                            <li class="li_4mj7p4">
                                <i class="fa fa-fw fa-check"></i><b>Lost 22 pounds in
                                    weight.</b>
                            </li>
                            <li class="li_1w67ik">
                                <i class="fa fa-fw fa-check"></i><b>&#x200B;Gained 7-12 pounds
                                    of muscle.<br></b>
                            </li>
                            <li class="li_3hmmod">
                                <i class="fa fa-fw fa-check"></i><b>&#x200B;Cut 10 years off
                                    his age.<br></b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_wcoz21" id="list-23503">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_eqak29">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_kru6yk">
            <div class="col-md-4 innerContent col_left ui-resizable div_kyjqfi">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_ty419s">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_8wj0to"
                        id="img-93336">
                        <img src="./img/Peter-1.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_n11evx">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_v5re5s">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_yp7fi9">
                        <img src="./img/Peter-2.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_1dskt8">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_p5eqbn">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_v9fgy9"
                        id="img-49416">
                        <img src="./img/Peter-3.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_uv1pld">
            <div class="col-md-12 innerContent col_left div_ec3go2">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_eboaqy">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_hjcbqy">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_iie4lt">
                            <b>Without restrictive diets and training at home (having only a small set of
                                dumbbells)</b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_ib1cty">
            <div class="col-md-4 innerContent col_left ui-resizable div_y1qjhh">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_oqa9j3">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_lpjbr1"
                        id="img-61176">
                        <img src="./img/Peter-food-4.jpg" width="230" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_73shi4">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_5xim7f">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_xd5n5o">
                        <img src="./img/Peter-1(1).jpg" width="230" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_i28kiz">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_g2zpcq">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_7m9w2h">
                        <img src="./img/Peter-food-3.jpg" width="230" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_spn109">
            <div class="col-md-12 innerContent col_left div_s2k8ey">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_k8uxhx">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_mu39nn">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_x4llt9">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_9bpzcd">
            <div class="innerContent col_left ui-resizable col-md-2 div_4xyiu4">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_r6a3b0">
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-6 div_abso76">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_up9qvb">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_ueue82">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_ma0417"><b><u>John
                                    Testimonial During Our Coaching Call</u></b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_2fbrx0">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_nyghib">
                            <div class="fluid-width-video-wrapper div_rklsma"><iframe
                                    src="./resources/saved_resource(2).html" frameborder="0" wmode="opaque"
                                    id="fitvid429817"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-4 div_mje979">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_cx1ft8">
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_vofs16">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_auly5q">
                            <li class="li_5t5xg2">
                                <i class="fa-fw fas fa-arrow-right i_6xj3eu"></i><b>Company
                                    Vice-President from
                                    Virginia.</b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_4aq264">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_unt4gl">
                            <b><u>Results in 20 weeks:</u></b>
                        </h1>
                    </div>
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_rmw4v2">
                        <ul
                            class="ne elBulletList elBulletListNew elBulletList2 listBorder0 elBulletList_theme3 ul_gcr0h6">
                            <li class="li_356pdl">
                                <i class="fa fa-fw fa-check"></i><b>Lost 7.85 Inches off
                                    the waist.</b>
                            </li>
                            <li class="li_5ocnrj">
                                <i class="fa fa-fw fa-check"></i><b>Lost 22.2 pounds in
                                    weight.</b>
                            </li>
                            <li class="li_lhgxc0">
                                <i class="fa fa-fw fa-check"></i><b>&#x200B;Gained 8-13 pounds
                                    of muscle.<br></b>
                            </li>
                            <li class="li_fwe5wh">
                                <i class="fa fa-fw fa-check"></i><b>&#x200B;Skyrocketed his
                                    work performance, grew his team, and got promoted.<br></b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_sokets" id="list-23503-135">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_ot6flc">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_o1q1td">
            <div class="innerContent col_left ui-resizable col-md-2 div_i17n3d">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_jg59cl">
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-3 div_gb5ykl">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_rqt68j">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_lx2ouk"
                        id="img-76561">
                        <img src="./img/Comment-3.jpg" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-3 div_uk1yvy">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_yf1wwh">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_ihswcx">
                        <img src="./img/Comment-2.jpg" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-3 div_byj7cl">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_dl1z7h">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_2gmtdx"
                        id="img-66644">
                        <img src="./img/Comment-1.jpg" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-1 div_6gjqa">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_7m2iuh">
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_h33sku">
            <div class="col-md-12 innerContent col_left div_ued5dt">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_xhtmnc">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_pexha5">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_rcnsmj">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_33qx7x">
            <div class="innerContent col_left ui-resizable col-md-2 div_8cckez">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_85a5bc">
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-6 div_fs34vn">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_qc2ht5">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_cea1gc">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_s7scfu"><b><u>Simon
                                    Video
                                    Testimonial</u></b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_w7iq71">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_33eevt">
                            <div class="fluid-width-video-wrapper div_mc0xyc"><iframe
                                    src="./resources/saved_resource(3).html" frameborder="0" wmode="opaque"
                                    id="fitvid515377"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-4 div_r1gedu">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_dpjshh">
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_z1r67m">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_qxiklm">
                            <li class="li_eze62y">
                                <i class="fa-fw fas fa-arrow-right i_h4vgfq"></i><b>British
                                    entrepreneur and CFO of 2
                                    companies</b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_wrzhm4">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_r8ijws">
                            <b><u>Results in 20 weeks:</u></b>
                        </h1>
                    </div>
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_xcme4y">
                        <ul
                            class="ne elBulletList elBulletListNew elBulletList2 listBorder0 elBulletList_theme3 ul_8r7zdt">
                            <li class="li_gruedv">
                                <i class="fa fa-fw fa-check"></i><b>Lost 12 cms off the
                                    waist.</b>
                            </li>
                            <li class="li_r60935">
                                <i class="fa fa-fw fa-check"></i><b>Lost 19 pounds in
                                    weight.</b>
                            </li>
                            <li class="li_gigzpj">
                                <i class="fa fa-fw fa-check"></i><b>&#x200B;Gained 6-10 pounds
                                    of muscle.<br></b>
                            </li>
                            <li class="li_k6cdri">
                                <i class="fa fa-fw fa-check"></i><b>&#x200B;Boosted his energy
                                    levels, improved his health, and transformed his mindset.<br></b>
                            </li>
                        </ul>
                    </div>
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_nroa88" id="list-23503-135-124">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_qp7axt">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_xr0k79">
            <div class="col-md-12 innerContent col_left div_hxm2q">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_4cc8pn">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_1z6k2b">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_1xgjjy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_juaglz">
            <div class="col-md-12 innerContent col_left div_uf9vv3">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_tj3893">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_usybcp">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_1vjabp">
                            <b><u>More client success stories and reviews</u></b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_twh143">
            <div class="col-md-4 innerContent col_left ui-resizable div_e5pl08">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_dkpx50">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_fgqzhz">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_7487l3">
                            <b>Richard testimonial</b>
                        </h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable hiddenElementTools de-editable div_wvxv55">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_8ukuby">
                            <div class="fluid-width-video-wrapper div_wvpkbs"><iframe
                                    src="./resources/saved_resource(4).html" frameborder="0" wmode="opaque"
                                    id="fitvid280410"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_z38nr1">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_5td72y">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_kde99x">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_rxvu89">
                            <b>Robert testimonial</b>
                        </h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_lz1515">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_123byc">
                            <div class="fluid-width-video-wrapper div_dqzvy2"><iframe
                                    src="./resources/saved_resource(5).html" frameborder="0" wmode="opaque"
                                    id="fitvid810047"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_dsqo3q">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_zs35tz">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_htw3g5">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_lrdc3f"><b>Olga
                                testimonial</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_ubibxi">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_7qv248">
                            <div class="fluid-width-video-wrapper div_dxxqzz"><iframe
                                    src="./resources/saved_resource(6).html" frameborder="0" wmode="opaque"
                                    id="fitvid5046"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_wsuf81">
            <div class="col-md-4 innerContent col_left ui-resizable div_izibwy">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_nbk35y">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_77k2m7">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_r2k1sz"><b>Trisha
                                testimonial</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_fbk55k">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_7dtl2u">
                            <div class="fluid-width-video-wrapper div_n00ij1"><iframe
                                    src="./resources/saved_resource(7).html" frameborder="0" wmode="opaque"
                                    id="fitvid714385"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_k3w45j">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_alpf8b">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_w01u0k">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_i6e8zc"><b>Lyda and
                                Luis
                                testimonial</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_ohqo0x">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_z7c6vd">
                            <div class="fluid-width-video-wrapper div_ugedqy"><iframe
                                    src="./resources/saved_resource(8).html" frameborder="0" wmode="opaque"
                                    id="fitvid542434"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_pwsb79">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_3i2dyv">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_tq7zv4">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_icv5v3"><b>Rob
                                testimonial</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_1arcf3">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_378kki">
                            <div class="fluid-width-video-wrapper div_zv9hup"><iframe
                                    src="./resources/saved_resource(9).html" frameborder="0" wmode="opaque"
                                    id="fitvid659487"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_29bwa1">
            <div class="col-md-4 innerContent col_left ui-resizable div_m07tao">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_s52s3i">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_lr9dvj">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_36r5lc"><b>Velbett
                                testimonial</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_g6tqbz">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_7j5pmf">
                            <div class="fluid-width-video-wrapper div_w0qibe"><iframe
                                    src="./resources/saved_resource(10).html" frameborder="0" wmode="opaque"
                                    id="fitvid760799"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_bbxh6s">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_m7ikif">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_1v2izl">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_tm0424"><b>Elena
                                quick
                                review</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_af4muq">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_omp9k7">
                            <div class="fluid-width-video-wrapper div_bpaori"><iframe
                                    src="./resources/saved_resource(11).html" frameborder="0" wmode="opaque"
                                    id="fitvid422928"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_hgywa6">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_7r4g7z">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_l5dx43">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_aeae39"><b>Inna quick
                                review</b></h1>
                    </div>
                    <div
                        class="de elVideoWrapper de-video-block elVideoWidth100 elMargin0 effect1 elVideoSkin1 ui-droppable de-editable div_qv1h0y">
                        <div class="elVideoplaceholder">
                            <div class="elVideoplaceholder_inner"></div>
                        </div>
                        <div class="elVideo div_waakdf">
                            <div class="fluid-width-video-wrapper div_2fcdby"><iframe
                                    src="./resources/saved_resource(12).html" frameborder="0" wmode="opaque"
                                    id="fitvid719439"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_ebko55">
            <div class="col-md-12 innerContent col_left div_vrxjc">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_nay4o3">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_rbrggx">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_m6m4n4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_h70hm6">
            <div class="col-md-4 innerContent col_left ui-resizable div_rpwz3x">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_dfy0z0">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_57x118"
                        id="img-96657">
                        <img src="./img/Rich-1.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_bwen1t">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_cgasbo">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_tw8pg">
                        <img src="./img/Rich-2.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_dxwlp5">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_dsg7vo">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_55axoy"
                        id="img-41831">
                        <img src="./img/Rich-3.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_1tbqy4">
            <div class="col-md-4 innerContent col_left ui-resizable div_5a3pou">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_1xhplv">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_3y8ey4"
                        id="img-96657-146-181-104">
                        <img src="./img/Luis-1.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_ujjhsd">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_o7utp6">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_lz7vj2">
                        <img src="./img/Luis-2.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_32ad8o">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_po890s">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_jng8qf"
                        id="img-41831-156-147-100">
                        <img src="./img/Luis-3.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_gqpov1">
            <div class="col-md-4 innerContent col_left ui-resizable div_2ud0lu">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_nr11dn">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_su3gi4"
                        id="img-96657-146-181">
                        <img src="./img/Lyda-1.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_co7d3i">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_1ma4wx">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_v3712i">
                        <img src="./img/Lyda-2.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_g3sam9">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_6vw5oe">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_vlhu1b"
                        id="img-41831-156-147">
                        <img src="./img/Lyda-3.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_qe7m8h">
            <div class="innerContent col_left ui-resizable col-md-2 div_xfur91">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_1l6cg6">
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-4 div_d47veh">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_xe3dhb">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_7rguet"
                        id="img-68027">
                        <img src="./img/Duncan-1.jpg" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-4 div_caeu73">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_7y6see">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_lxx8fz">
                        <img src="./img/Duncan-2.jpg" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-2 div_febfti">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_e8f850">
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_pxp8ye">
            <div class="col-md-12 innerContent col_left div_14z7nz">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_8bs8b8">
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_4fi4l3">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_nu6lxw">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_y5vv0f">
            <div class="col-md-4 innerContent col_left ui-resizable div_sn1mf6">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_3pdfs7">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_ic037k"
                        id="img-32485">
                        <img src="./img/22-Top.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_i1smud">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_4ijotr">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_199aoq">
                        <img src="./img/42.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_fasgyk">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_43hw3f">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_tiksiw"
                        id="img-82765">
                        <img src="./img/35-Top.jpg" width="225" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_z063gs">
            <div class="col-md-4 innerContent col_left ui-resizable div_fqvb9k">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_c3o7l3">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_npwway"
                        id="img-32485-119">
                        <img src="./img/13-Top.jpg" width="230" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_g9qzbf">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_zgqpvq">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_iqm0b2">
                        <img src="./img/10-Top.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_agkik">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_izey0t">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_fpxcex"
                        id="img-82765-103">
                        <img src="./img/16-Top.jpg" width="225" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_226w11">
            <div class="col-md-4 innerContent col_left ui-resizable div_42kly4">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_tmsgpj">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable hiddenElementTools de-editable div_myk1vy">
                        <img src="./img/29.jpg" width="275" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_k3vxq4">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_wpjhst">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_l1ffqv"
                        id="img-32485-119-112">
                        <img src="./img/IMG_1837.jpg" width="250" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 innerContent col_right ui-resizable div_hy7mse">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_ziws8k">
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_9253a6"
                        id="img-82765-103-158">
                        <img src="./img/4.jpg" width="300" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="book-consultation-section"
    class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 emptySection bgCover100 div_wgw82t">
    <div class="containerInner ui-sortable">
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_yzixcw">
            <div class="col-md-12 innerContent col_left div_9l94jc">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_grv2n5">
                    <div class="de elBullet elMargin0 ui-droppable de-editable div_9bd0hv">
                        <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0 ul_q4lass">
                            <li class="li_o01guu">
                                <i class="fa-fw fas fa-phone i_ti5ibx"></i><b><u>Book Your FREE
                                        Consultation</u></b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_fvo115">
            <div class="col-md-6 innerContent col_left ui-resizable div_4ljsw2">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_pjqfdq">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_uddsa4">
                        <img src="./img/IMG_3332.jpg" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="col-md-6 innerContent col_right ui-resizable div_9ujvh">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_zmrrwb">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_j10ilo">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_4lz3a4">
                            <b>Let&apos;s talk about your fitness goals, struggles, and see how I can help you
                                achieve them quickly, efficiently, and sustainably.</b>
                        </h1>
                    </div>
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_5q4it8">
                        <img src="./img/img_3-arrow-down-drawn.png" width="130" tabindex="0">
                    </div>
                    <div class="de elBTN elAlign_center elMargin0 ui-droppable de-editable div_nf9zza">
                        <a href="https://calendly.com/nikkurdoyak/strategy-session"
                            class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elBtnVP_10 elButtonFluid elBtnHP_25 elButtonShadowN3 elButtonTxtColor2 elBTNone elButtonBlock elButtonCorner5 elBTN_b_3 a_ksj062"
                            target="_blank">
                            <span class="elButtonMain">Book Your FREE Call NOW</span>
                            <span class="elButtonSub"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ebooks-section"
    class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 emptySection bgCover101 div_ra8px">
    <div class="containerInner ui-sortable">
        <div
            class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_5k5bat">
            <div class="col-md-12 innerContent col_left div_jg0dk2">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_9ul6an">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_t129ee">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_rjsozw">
                            <b><u>FREE E-Books</u></b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row bgCover borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin borderLight div_9hugqx">
            <div class="innerContent col_left ui-resizable col-md-6 div_xk6a3y">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_3xet8x">
                    <div
                        class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_jlcp4s">
                        <img src="./img/Book-cover-final.png" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="innerContent col_right ui-resizable col-md-6 div_ut5v5k">
                <div
                    class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin div_z1lk8x">
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_bi1gwm">
                        <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0 h1_vma84a"><b><u>5
                                    Expert
                                    SECRETS</u> To Efficient And Sustainable Body Transformation Only 5% Of
                                People Know About.</b></h1>
                    </div>
                    <div class="de elSeperator elMargin0 ui-droppable de-editable div_p5qmy6">
                        <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
                            <div class="elDividerInner div_ukwqjf"></div>
                        </div>
                    </div>
                    <div class="de elHeadlineWrapper ui-droppable de-editable div_x8f85g">
                        <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 h2_7lkevt">
                            Executive Fitness Coach Nik Kurdoyak Reveals <b>His Secret Checklist And The Dirty
                                Lies</b> You&apos;ve Been Told That Can Waste Your Time, Energy, And Keep You Stuck
                            In Your Fitness Journey Forever.</h2>
                    </div>
                    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable div_co5pa3"
                        id="img-81940">
                        <img src="./img/img_3-arrow-down-drawn.png" width="130" tabindex="0">
                    </div>
                    <div class="de elBTN elAlign_center elMargin0 ui-droppable de-editable div_ig7yhx"
                        id="button-17788">
                        <a href="https://bit.ly/5-EXPERT-SECRETS"
                            class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elBtnVP_10 elButtonFluid elBtnHP_25 elButtonShadowN3 elButtonTxtColor2 elBTNone elButtonBlock elButtonCorner5 elBTN_b_3 a_1h3uzs"
                            target="_blank" id="undefined-302">
                            <span class="elButtonMain">Download NOW</span>
                            <span class="elButtonSub"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>