<section id="main-image-container">
    <div id="title-text">
        <h1 class="mb-3">NIK <br> KURDOYAK</h1>
        <h2>The Official Site!</h2>      
    </div>
    <img id="main-image" src="/img/mainImage.webp" alt="">
    <img id="strip-image" src="/img/strip.png" alt="">
</section>

<section id="slogan">
    <h2>Build A Head-Turning Physique, Become A <br /> High-Performing Machine, And Live A More Powerful Life</h2>
</section>

<section id="stars">
    <div class="star-review">
        <img src="/img/stars/barber.webp" alt="">
        <br>
        <h3>Peter Barber, Singapore</h3>
        <br>
        <h3>CEO/Owner of ComCrop</h3>
        <hr>
        <p>
            “Nik is the real deal. He stood out to me for his direct, no-nonsense attitude and he is the man who speaks
            the
            truth. Most importantly though, he sincerely cares about clients' results and satisfaction. I was expremely
            picky with choosing a coach, and Nik has proven himself. I am very happy to work with TrainedByNik."
        </p>
    </div>

    <div class="star-review">
        <img src="/img/stars/latarche.webp" alt="">
        <br>
        <h3>Simon Latarche, UK</h3>
        <br>
        <h3>Entrepreneur, Investor</h3>
        <hr>
        <p>
            "In the beginning, I was very skeptical, but after just the first week, I realized I made the best decision
            ever.
            Nik completely transformed my body, health, mindset, and energy levels. I simply live a much better and
            happier
            life. Nik not only delivers, but over-delivers, and is also very knowledgeable, dedicated, and
            inspirational."
        </p>
    </div>

    <div class="star-review">
        <img src="/img/stars/bolton.webp" alt="">
        <br>
        <h3>Steve Bolton, UK</h3>
        <br>
        <h3>Celebrity mentor</h3>
        <hr>
        <p>
            “Nik is the best coach I've ever had in my entire life, and under his coaching I was able to not only build
            my best
            body, but also boost my business performance. I also invested in my team to work with Nik, and none of them
            has
            failed. I highly recommend Nik not only to individuals, but to corporate teams as well.
        </p>
    </div>
</section>

<section id="bio">
    <div id="bio-block">
        <h2 class=""><u>Meet Coach Nik</u></h2>
        <p>
            Hello, my name is Nik Kurdoyak, and I am a professional fitness and peak performance coach. I represent my
            brand
            TrainedByNik, and it's my passion to help people build gorgeous physiques efficiently and sustainably,
        </p>
    </div>
    <div id="bio-images">
        <img class="w-75" src="/img/bio/me1.webp" alt="">
        <div class="d-flex flex-row img-row">
            <div class="d-flex flex-column img-column">
                <img class="w-75" src="/img/bio/client1.webp" alt="">
                <div class="d-flex flex-row img-row">
                    <img class="w-50" src="/img/bio/mewithclient.webp" alt="">
                    <img class="w-50" src="/img/bio/withwife.webp" alt="">
                </div>
            </div>
            <div class="d-flex flex-column img-column">
                <img class="w-100" src="/img/bio/moto.webp" alt="">
                <img class="w-100" src="/img/bio/moto2.webp" alt="">
            </div>
        </div>
    </div>
</section>