<main id="about-page">
  {{> sections/about/main}}
  {{> sections/about/reviews}}
  {{> sections/about/bio}}
  {{> sections/about/coaching}}
  {{> sections/about/services}}
  {{> sections/about/referral}}
  {{> sections/about/contact}}
</main>