<section id="main-image-container">
    <div id="title-text">
        <h1 class="mb-3">NIK <br> KURDOYAK</h1>
        <h2>The Official Site!</h2>
    </div>
    <img id="main-image" src="/img/mainImage.webp" class="in-animate" alt="">
    <img id="strip-image" src="/img/strip.png" alt="">
</section>

<section id="slogan" class="in-animate">
    <h2>Build A Head-Turning Physique, Become A <br /> High-Performing Machine, And Live A More Powerful Life</h2>
</section>

<section id="stars">
    <div class="star-review">
        <img src="/img/stars/barber.webp" alt="">
        <br>
        <h3>Peter Barber, Singapore</h3>
        <br>
        <h3>CEO/Owner of ComCrop</h3>
        <hr>
        <p>
            “Nik is the real deal. He stood out to me for his direct, no-nonsense attitude and he is the man who speaks
            the
            truth. Most importantly though, he sincerely cares about clients' results and satisfaction. I was expremely
            picky with choosing a coach, and Nik has proven himself. I am very happy to work with TrainedByNik."
        </p>
    </div>

    <div class="star-review">
        <img src="/img/stars/latarche.webp" alt="">
        <br>
        <h3>Simon Latarche, UK</h3>
        <br>
        <h3>Entrepreneur, Investor</h3>
        <hr>
        <p>
            "In the beginning, I was very skeptical, but after just the first week, I realized I made the best decision
            ever.
            Nik completely transformed my body, health, mindset, and energy levels. I simply live a much better and
            happier
            life. Nik not only delivers, but over-delivers, and is also very knowledgeable, dedicated, and
            inspirational."
        </p>
    </div>

    <div class="star-review">
        <img src="/img/stars/bolton.webp" alt="">
        <br>
        <h3>Steve Bolton, UK</h3>
        <br>
        <h3>Celebrity mentor</h3>
        <hr>
        <p>
            “Nik is the best coach I've ever had in my entire life, and under his coaching I was able to not only build
            my best
            body, but also boost my business performance. I also invested in my team to work with Nik, and none of them
            has
            failed. I highly recommend Nik not only to individuals, but to corporate teams as well.
        </p>
    </div>
</section>

<section id="bio" class="in-animate">
    <div class="text-block">
        <h2 class=""><u>Meet Coach Nik</u></h2>
        <p>Hello, my name is Nik Kurdoyak, and I am a professional fitness and peak performance coach. I represent
            my brand TrainedByNik, and it's my passion to help people build great-looking bodies, become
            high-performance
            machines, and live more powerful lives.</p>

        <p>I've been an athlete my whole life. It all started with a huge passion for hardcore downhill mountain biking,
            which later transitioned into health and fitness. Being in a great physical shape always helped me go
            through hard times, perform better at work, be a better husband, and just live a much happier life. And
            that's why it's my passion now to help others achieve the same. If you look good, feel good and are full of
            energy - you have a higher self-worth, drive, and confidence, all of which will positively impact all other
            areas of your life and even people around you.</p>

        <p>I have a degree in fitness from Niagara College Canada, multiple certifications, and have worked with
            some of the best people in the industry, including the fitness legend Amer "The Hammer" Camra. I worked as
            an
            in-person trainer, in-home trainer, and even as a coach in a drug and alcohol rehab facility. By this point,
            I've already helped hundreds of people build their best bodies and transform their minds.</p>

        <p>And, of course I can't finish my bio without mentioning that I am a huge animal lover :)</p>
    </div>
    <div id="bio-images">
        <img class="w-85" src="/img/bio/me1.webp" alt="">
        <div class="d-flex flex-row img-row">
            <div class="d-flex flex-column img-column">
                <img class="w-100" src="/img/bio/client1.webp" alt="">
                <img class="w-75 align-self-end" src="/img/bio/withwife.webp" alt="">
                <img class="w-100" src="/img/bio/dog.webp" alt="">
            </div>
            <div class="d-flex flex-column img-column">
                <img class="w-100" src="/img/bio/moto.webp" alt="">
                <img class="w-100" src="/img/bio/mewithclient.webp" alt="">
                <img class="w-100" src="/img/bio/moto2.webp" alt="">
            </div>
        </div>
    </div>
</section>

<section id="coaching" class="in-animate">
    <div class="deck-images">
        <a href="https://vimeo.com/634714800/00ca5369ee" target="_blank">
            <img src="/img/coaching/Peter testimonial.webp" alt="">
        </a>
        <a href="https://vimeo.com/462391965/1556c5f1f1" target="_blank">
            <img src="/img/coaching/Video testimonial 1.webp" alt="">
        </a>
        <a href="https://vimeo.com/573582244/e5fc00056c" target="_blank">
            <img src="/img/coaching/Video testimonial 10.webp" alt="">
        </a>
        <a href="https://vimeo.com/647838386" target="_blank">
            <img src="/img/coaching/Video testimonial 12.webp" alt="">
        </a>
        <a href="https://vimeo.com/402245563/fe8945c45f" target="_blank">
            <img src="/img/coaching/Video testimonial 4.webp" alt="">
        </a>
        <a href="https://vimeo.com/409735453/e2245914a5" target="_blank">
            <img src="/img/coaching/Video testimonial 6.webp" alt="">
        </a>
    </div>
    <div class="text-block">
        <h2 class=""><u>Coaching</u></h2>
        <p>My program provides the guidance, insights, and tools you need to radically transform your body and mind in
            the most efficient and sustainable way.
        <p>Also, my online fitness coaching program stands out for its immense flexibility in regards to each individual
            client and pricing. All with the purpose of providing you with the service that matches your goals, level of
            commitment, support you need, budget, etc.</p>
        <br>
        <div class="action-block">
            <p>
                See client success stories and find out more
            </p>
            <a href="#">
                LEARN MORE
            </a>
        </div>
    </div>

</section>

<section id="youtube" class="in-animate">
    <div class="text-block">
        <h2 class=""><u>Youtube</u></h2>
        <p>
            I have the YouTube channel where you can find loads of FREE video content on training, nutrition,
            supplements, nonsense-busting, mindset, health, recovery, and much more.
        </p>
        <br>
        <div class="action-block">
            <p>
                Check out my videos and subscribe
            </p>
            <a href="https://www.youtube.com/channel/UCe8ueQdk2xMCO6qRtPwHmig" target="_blank">
                Go To YouTube
            </a>
        </div>
    </div>
    <div class="deck-images">
        <a href="https://youtu.be/141x-W2No68" target="_blank">
            <img src="/img/youtube/1.webp" alt="">
        </a>
        <a href="https://youtu.be/dgRwEDEmHwY" target="_blank">
            <img src="/img/youtube/2.webp" alt="">
        </a>
        <a href="https://youtu.be/KL_9oubbR0Q" target="_blank">
            <img src="/img/youtube/3.webp" alt="">
        </a>
        <a href="https://youtu.be/bvNqMMxohSc" target="_blank">
            <img src="/img/youtube/4.webp" alt="">
        </a>
        <a href="https://youtu.be/00Dwycc0Z5Q" target="_blank">
            <img src="/img/youtube/5.webp" alt="">
        </a>
        <a href="https://youtu.be/YsLPsa_doiA" target="_blank">
            <img src="/img/youtube/6.webp" alt="">
        </a>
        <a href="https://youtu.be/tvn04sbbgoE" target="_blank">
            <img src="/img/youtube/7.webp" alt="">
        </a>
    </div>
</section>

<section id="contact" class="in-animate">
    <div class="text-block">
        <h2 class=""><u>Contact</u></h2>
        <p>
            Feel free to get in touch with me in regards to coaching, partnership, or business inquiries.
        </p>
        <a href="tel:+17867417710"><img class="contact-img" src="/img/contact/call.png" alt=""> +1-786-741-7710</a>
        <br>
        <a href="mailto:trainedbynik@gmail.com"><img class="contact-img" src="/img/contact/email.png" alt=""> trainedbynik@gmail.com</a>
    </div>
</section>