<main id="services-page">
    {{> sections/services/main}}
    {{> sections/services/reviews}}
    {{> sections/services/call}}
    {{> sections/services/workout}}
    {{> sections/services/feedback}}
    {{> sections/services/chat}}
    {{> sections/services/other}}
</main>