<section id="call" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">

    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 ">Zoom Call</h2>

                <p>
                    Do you want to talk about fitness or mindset? Struggle with anything in life? Want to get a boost of
                    aspiration? You’ve got up to 90 minutes of my time and undivided attention <span class="accent">to
                        discuss anything you
                        want</span>. Within 24-48 hours after our session, you will receive a summary of everything we
                    discussed,
                    action steps, links, main areas of focus, core insights, etc.
                    </span>.
                </p>


                <div class="purchase-block d-flex align-items-center mt-1 mt-md-3 mt-lg-5">
                    <h3><span class="accent">99$</span> for a 45-minute session</h3>
                    <a class="accent-button" href="https://buy.stripe.com/eVa17Hccn3AL4hybIP">Purchase
                        NOW!</a>
                </div>
                <div class="purchase-block d-flex align-items-center mt-1">
                    <h3><span class="accent">149$</span> for a 90-minute session</h3>
                    <a class="accent-button" href="https://buy.stripe.com/00gaIhccn9Z93du6oo">Purchase
                        NOW!</a>
                </div>

            </div>

        </div>
    </div>
    <img src="/img/pages/services/call/phone.webp" class="w-100 d-lg-none" alt="">
</section>