<section id="chat" class="in-animate side-text-section black-background block-neon-shadow-down">
    <img src="/img/pages/services/chat/phone-top.webp" class="w-100 d-lg-none" alt="">

    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-lg-10">WhatsApp Nik</h2>

                <p>
                    Imagine <span class="accent">becoming the ultimate version of yourself</span> - strong, fit,
                    confident, and relentless. I will
                    be your daily partner, and with my dedicated mentorship, you will:
                </p>


                <ul id="benefit-list" class="arrow-list">
                    <li>Gain accountability and support to help you <span class="accent">stay on track</span> to your
                        fitness, mindset, and habit
                        goals</li>
                    <li>Access exclusive information to help you <span class="accent">unlock the ultimate
                            progress</span> towards your dream
                        physique</li>
                    <li>Get a boost of motivation, aspiration, and drive to help you <span class="accent">keep up that
                            fire</span> and <span class="accent">
                            become a
                            beast
                        </span></li>
                    <li>Get any of your questions answered so <span class="accent">you never feel lost of
                            confused</span></li>
                    <li>Filter out any BS info as well as get worthy recommendations, so you <span class="accent">gain
                            clarity</span> on what works
                        and
                        what doesn’t
                    </li>
                    <li>Discuss other things, share stories and insights, and just have fun!</li>
                </ul>


                <p>
                    You can either join a private 1-on-1 chat with me OR my community, where you can
                    interact with other members as well.
                </p>



                <h3><span class="accent">99$</span>/month - 7-day <span class="accent"></span>FREE</span> trial - <span
                        class="accent">NO</span> payment information required</h3>

                <a class="accent-button w-50 mx-auto"
                    href="https://api.whatsapp.com/send?phone=17867417710&text=Hey%20Nik!%20I%20would%20like%20to%20join%20you%20privately%20on%20WhatsApp">Join
                    me NOW!</a>

                <p class="mt-5 float-end">* NO commitments – <span class="accent">Cancel ANYTIME</span></p>

            </div>

        </div>
    </div>
    <img src="/img/pages/services/chat/phone-bottom.webp" class="w-100 d-lg-none" alt="">
</section>