<section id="feedback" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Exercise Execution Analysis and Feedback</h2>

                <p>
                    Do you want me to improve your exercise form/execution for <span class="accent">maximum
                        results</span>? You will record
                    yourself performing the exercise(s) from multiple angles, I will analyze and send you <span
                        class="accent">an in-depth report</span>
                    with <span class="accent">my own video(s) recorded individually</span>.
                </p>

                <span><span class="accent">49$</span> for a single exercise</span> <a class="accent-button w-50"
                    href="https://buy.stripe.com/aEU9EdgsD6MX6pGcMQ">Purchase NOW!</a>
                <span><span class="accent">195$</span> for 5 exercises (<span class="accent">39$</span> per
                    exercise)</span> <a class="accent-button w-50"
                    href="https://buy.stripe.com/3cs8A91xJ2wH7tK7sx">Purchase NOW!</a>
                <span><span class="accent">290$</span> for 10 exercises (<span class="accent">29$</span> per
                    exercise)</span>
                <span><span class="accent">149$</span> for a single session</span>
                <a class="accent-button w-50" href="https://buy.stripe.com/aEU3fPfoz1sD29qcMS">Purchase NOW!</a>

            </div>

        </div>
    </div>
    <img src="/img/pages/services/feedback/phone.webp" class="w-100 d-lg-none" alt="">
</section>