<section id="feedback" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Exercise Execution Analysis and Feedback</h2>

                <p>
                    Do you want me to improve your exercise form/execution for <span class="accent">maximum
                        results</span>? You will record
                    yourself performing the exercise(s) from multiple angles, I will analyze and send you <span
                        class="accent">an in-depth report</span>
                    with <span class="accent">my own video(s) recorded individually</span>.
                </p>

                <div id="puchases" class="mt-5">
                    <div class="purchase-block d-flex align-items-center">
                        <h3><span class="accent">49$</span> for a single exercise</h3> <a class="accent-button"
                            href="https://buy.stripe.com/aEU9EdgsD6MX6pGcMQ">Purchase NOW!</a>
                    </div>
                    <div class="purchase-block d-flex align-items-center">

                        <h3><span class="accent">195$</span> for 5 exercises (<span class="accent">39$</span> per
                            exercise)</h3> <a class="accent-button"
                            href="https://buy.stripe.com/3cs8A91xJ2wH7tK7sx">Purchase
                            NOW!</a>
                    </div>
                    <div class="purchase-block d-flex align-items-center">


                        <h3><span class="accent">290$</span> for 10 exercises (<span class="accent">29$</span> per
                            exercise)</h3>
                        <a class="accent-button" href="https://buy.stripe.com/aEU3fPfoz1sD29qcMS">Purchase NOW!</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <img src="/img/pages/services/feedback/phone.webp" class="w-100 d-lg-none" alt="">
</section>