<section id="main" class="block-neon-shadow-down pb-0">
    <img id="main-image" class="in-animate in-animation" src="/img/pages/services/main/main.webp" alt="" />
    <h1 class="mb-1 mb-lg-3 in-animate in-animation">Explore Other One-Time Services, Subscriptions, And More...</h1>
</section>