<section id="main" class="block-neon-shadow-down pb-0">
    <img id="main-image" srcset="/img/pages/services/main/main-sm.webp 576w,
             /img/pages/services/main/main-lg.webp 992w,
             /img/pages/services/main/main-xxl.webp 1400w,
             /img/pages/services/main/main.webp 1920w" src="/img/pages/services/main/main.webp" alt=""
        class="in-animate in-animation" />
    <h1 class="mb-1 mb-lg-3 in-animate in-animation">Explore Other One-Time Services, Subscriptions, And More...</h1>
</section>