<section id="other" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Other Offers</h2>

                <p>
                    Do you have any other proposals for me such as a podcast invitation, business collaboration,
                    sponsorship, employment, etc.? Contact me directly via email or WhatsApp.
                </p>

                <p>
                    <span class="accent">IMPORTANT: </span>DO NOT reach out to me regarding MLM marketing offers, your
                    services
                    (disguised as business collab), or if you want me to participate in any kind of low-credibility,
                    unreliable crap, etc. <span class="accent">Legit, serious, and credible offers ONLY</span>.
                </p>

                И ниже мой имэйл и телефон со !!!значками:

                <a href="tel:+17867417710"><img class="contact-img" src="/img/shared/icons/call.png" loading="lazy"
                        alt="" />
                    +1-786-741-7710</a>
                <br />
                <a href="mailto:contact@trainedbynik.fit"><img class="contact-img" src="/img/shared/icons/email.png"
                        loading="lazy" alt="" />
                    contact@trainedbynik.fit</a>

            </div>
        </div>
    </div>
    <img src="/img/pages/services/other/phone.webp" class="w-100 d-lg-none" alt="">
</section>