<section id="other" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 ">Other Offers</h2>

                <p>
                    Do you have any other proposals for me such as a podcast invitation, business collaboration,
                    sponsorship, employment, etc.? Contact me directly via email or WhatsApp.
                </p>

                <p>
                    <span class="accent">IMPORTANT:</span> DO NOT reach out to me regarding MLM marketing offers,
                    your
                    services
                    (disguised as business collab), or if you want me to participate in any kind of low-credibility,
                    unreliable crap, etc. <span class="accent">Legit, serious, and credible offers ONLY</span>.
                </p>

                <div class="mt-md-5">
                    <a href="tel:+17867417710" class="contact-link"><img class="contact-img"
                            src="/img/shared/icons/phone.webp" loading="lazy" alt="" />
                        +1-786-741-7710</a>
                    <br />
                    <a href="mailto:contact@trainedbynik.fit" class="contact-link"><img class="contact-img"
                            src="/img/shared/icons/gmail.webp" loading="lazy" alt="" />
                        contact@trainedbynik.fit</a>
                </div>



            </div>
        </div>
    </div>
    <img src="/img/pages/services/other/phone.webp" class="w-100 d-lg-none" alt="">
</section>