<section id="workout" class="in-animate side-text-section black-background block-neon-shadow-down pb-lg-5">
    <img src="/img/pages/services/workout/phone-top.webp" class="w-100 d-lg-none" alt="">

    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-lg-10">Zoom Workout Session</h2>

                <p>
                    Can’t push hard enough during your workouts? Lack of consistency? Struggle with exercise form? I
                    will be your partner who will help you with all that and beyond! You will have up to 90 minutes of
                    my
                    pure focus on you! A workout plan <span class="accent">will be included</span> through the app.
                </p>

                <div id="puchases" class="mt-5">
                    <div class="purchase-block d-flex align-items-center">
                        <h3><span class="accent">149$</span> for a single session</h3><a class="accent-button"
                            href="https://buy.stripe.com/9AQdUt7W7dbl8xO6op">Purchase NOW!</a>
                    </div>
                    <div class="purchase-block d-flex align-items-center">

                        <h3><span class="accent">645$</span> for 5 sessions (<span class="accent">129$</span> per
                            session)</h3><a class="accent-button"
                            href="https://buy.stripe.com/3cs6s1ccn2wH3dufZ0">Purchase NOW!</a>
                    </div>
                    <div class="purchase-block d-flex align-items-center">

                        <h3><span class="accent">990$</span> for 10 sessions (<span class="accent">99$</span> per
                            session)</h3><a class="accent-button"
                            href="https://buy.stripe.com/28obMl2BN3ALg0g4gj">Purchase NOW!</a>
                    </div>
                </div>



            </div>

        </div>
    </div>
    <img src="/img/pages/services/workout/phone-bottom.webp" class="w-100 d-lg-none" alt="">
</section>