:root {
    --texture: radial-gradient(black 15%, transparent 14%) 0 0, radial-gradient(black 15%, transparent 14%) 6px 6px, radial-gradient(rgba(255, 255, 255, .08) 15%, transparent 12%) 0 1px, radial-gradient(rgba(255, 255, 255, .08) 15%, transparent 12%) 6px 7px, rgb(12, 12, 12);
    --texture-size: 12px 12px;
    --texture-verbose-size: var(--texture-size), var(--texture-size), var(--texture-size), var(--texture-size);
    --main-text-color: #fff;
    --secondary-text-color: #000000;
    --accent-color: #c41616;
    --dark-accent-shadow: rgb(129 14 9);
    --hard-shadow: 0 2px 5px #000;
    --hard-shadow-up: 0 -2px 5px #000;
    --neon-shadow: 0 2px 20px rgb(50 4 4 / 0.4);
    --light-shadow: 0 2px 5px #222;
    --black-background-color: #181818;
    --gray-background-color: #c4c4c4;
    --default-text-shadow: 1px 1px 1px rgb(130, 130, 130);
    --hard-text-shadow: .35vw .35vw 1px rgb(0, 0, 0);
    --hard-text-shadow-small: .15vw .15vw 1px rgb(0, 0, 0)
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.01)
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5)
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff
}

body {
    background-color: rgb(0, 0, 0) !important
}

@font-face {
    font-family: 'Rockwell Condensed';
    src: url(/fonts/rockwell-condensed.ttf)
}

@font-face {
    font-family: Lora;
    src: url(/fonts/lora-regular.ttf)
}

h1,
h2,
h3,
h4 {
    color: var(--main-text-color);
    font-family: 'Rockwell Condensed', serif
}

p,
span,
li {
    color: var(--main-text-color)
}

.gray-background p,
.gray-background h2,
.gray-background h3,
.gray-background span,
.gray-background li,
.gray-background a {
    color: var(--secondary-text-color)
}

span {
    font-family: inherit;
    font-size: inherit
}

p,
li {
    font-family: Lora, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin-bottom: .6rem
}

@media (min-width: 1700px) {

    p,
    li {
        font-size: 1.7vw
    }

    #about-page p,
    #about-page li {
        font-size: 1.4vw
    }
}

nav {
    background: rgb(52 52 52);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--hard-shadow);
    padding: 0 9% !important;
    z-index: 22
}

nav .navbar-toggler {
    display: contents;
    padding: 5px !important
}

nav .navbar-collapse.show {
    margin-bottom: 10px
}

nav .container-fluid {
    padding: 0 !important
}

nav .navbar-brand {
    min-height: 2.17vw;
    padding: 0 !important
}

nav .nav-link {
    animation: in-buttons 1s;
    animation-fill-mode: backwards;
    background-color: rgba(0, 0, 0, 0.3);
    border: #d2d2d2 solid 1px;
    box-shadow: 2px 2px #1f1f1f;
    color: #e6e6e6 !important;
    font-weight: 400;
    padding: 2px 30px !important;
    text-shadow: 1px 1px #000;
    transform: skewX(-15deg);
    transition: text-decoration .3s
}

nav .nav-item {
    font-size: 1em;
    margin-bottom: 0
}

nav .nav-item:nth-of-type(1) .nav-link {
    animation-delay: .5s
}

nav .nav-item:nth-of-type(2) .nav-link {
    animation-delay: .7s
}

nav .nav-item:nth-of-type(3) .nav-link {
    animation-delay: .9s
}

nav .nav-item:nth-of-type(4) .nav-link {
    animation-delay: 1.1s
}

nav .nav-link:hover {
    background-color: var(--main-text-color);
    color: #000
}

nav ul.navbar-nav {
    margin-top: 7px !important;
    margin-bottom: 7px !important
}

nav .nav-link.active,
nav .nav-link:hover {
    color: var(--main-text-color) !important
}

nav #logo {
    max-width: 55%
}

@media (min-width: 700px) and (max-width: 992px) {
    nav {
        flex-wrap: nowrap !important
    }

    nav .nav-link {
        padding: 1px 10px !important
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }

    nav ul.navbar-nav {
        flex-direction: row !important;
        margin: 7px 0
    }

    nav .navbar-toggler {
        display: none
    }
}

.navbar-toggler-icon {
    width: 1.2em !important;
    height: 28px !important;
    position: absolute !important;
    right: 10% !important;
    filter: grayscale(1) invert(1)
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    top: 3%
}

.in-animate {
    transform: translateY(-20%)
}

.in-animation {
    animation: in 1s;
    animation-fill-mode: both
}

section {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 10px
}

section h2,
section h3 {
    margin-bottom: 20px;
    text-align: center
}

section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4vw;
    text-decoration: underline
}

section h3 {
    font-size: 3vw;
    margin-bottom: 10px;
    text-decoration: none
}

@media (max-width: 700px) {
    section h2 {
        font-size: 7vw
    }

    section h3 {
        font-size: 5vw
    }

    section h4 {
        font-size: 3vw
    }

    #contact .side-block p {
        margin: 5px auto !important;
        width: 100% !important;
        font-size: .8rem
    }

    .side-block {
        width: 80%
    }
}

#about-page #main {
    overflow: hidden;
    z-index: 21;
    padding-bottom: 0
}

#about-page #main #title-text {
    font-weight: 700;
    left: 20%;
    position: absolute;
    text-align: center;
    text-shadow: var(--hard-text-shadow);
    top: 55%;
    z-index: 21
}

#about-page #main #title-text h1 {
    font-size: 6.5vw;
    color: rgb(245 245 245)
}

#main h1 {
    position: absolute;
    bottom: 0;
    text-shadow: var(--hard-text-shadow);
    color: rgb(245 245 245)
}

#main span {
    text-shadow: var(--hard-text-shadow)
}

#services-page #main h1 {
    left: 1vw;
    font-size: 5vw
}

#about-page #main h1 {
    left: 3vw;
    font-size: 6vw
}

#main-image {
    width: 100%
}

#coaching {
    z-index: 18;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

#contact {
    z-index: 16
}

#coaching,
#youtube,
#contact {
    position: relative
}

#about-page section#bio {
    z-index: 24;
    background-image: url(/img/pages/about/bio/main.webp)
}

#about-page section#coaching {
    z-index: 23;
    background-image: url(/img/pages/about/coaching/main.webp)
}

#about-page section#services {
    z-index: 22;
    background-image: url(/img/pages/about/services/main.webp)
}

#about-page section#referral {
    z-index: 21;
    background-image: url(/img/pages/about/referral/main.webp)
}

#about-page section#contact {
    z-index: 20;
    background-image: url(/img/pages/about/contact/main.webp)
}

section#hook {
    z-index: 20;
    background-image: url(/img/pages/coaching/hook/main.webp)
}

section#push {
    background-image: url(/img/pages/coaching/push/main.webp)
}

section#why {
    background-image: url(/img/pages/coaching/why/main.webp);
    background-position-x: right
}

#services-page section#reviews {
    z-index: 24
}

#services-page section#call {
    z-index: 23;
    background-image: url(/img/pages/services/call/main.webp)
}

#services-page section#workout {
    z-index: 22;
    background-image: url(/img/pages/services/workout/main.webp)
}

#services-page section#feedback {
    z-index: 21;
    background-image: url(/img/pages/services/feedback/main.webp)
}

#services-page section#chat {
    z-index: 20;
    background-image: url(/img/pages/services/chat/main.webp);
    padding-bottom: 0
}

@media (min-width: 960px) {

    #services-page section#chat p,
    li {
        font-size: 1.2rem
    }
}

@media (min-width: 1400px) {

    #services-page section#chat p,
    li {
        font-size: 1.1vw
    }
}

#services-page section#other {
    z-index: 19;
    background-image: url(/img/pages/services/other/main.webp)
}

section.side-text-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top
}

@media (max-width: 960px) {
    section.side-text-section {
        background-image: none !important
    }
}

@media (max-width: 1140px) {
    section.side-text-section {
        background-position-x: 28%;
        padding-bottom: 0
    }
}

@media (max-width: 960px) {

    section.side-text-section p,
    section.side-text-section li {
        font-size: 1.2rem
    }

    section.side-text-section ul {
        padding-left: 0
    }
}

.side-block p {
    margin-bottom: 10px
}

.side-block {
    left: 5%;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    width: 52%
}

#youtube .side-block {
    width: 45%
}

#contact .side-block {
    left: 15%;
    width: 75%
}

#contact .side-block br {
    display: block !important
}

#contact .side-block p {
    margin: 10px auto;
    width: 75%
}

.contact-img {
    width: 4vw;
    margin-right: 10px
}

.contact-link {
    color: var(--main-text-color);
    font-size: 6vw;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s
}

@media (min-width: 968px) {
    #coaching-page .contact-img {
        width: 3vw
    }

    .contact-link,
    #coaching-page .contact-link {
        font-size: 2vw
    }
}

.contact-link:hover {
    color: var(--accent-color)
}

@media (max-width: 600px) {
    #contact .side-block a {
        font-size: 1rem
    }
}

#contact .side-block a:hover {
    color: var(--accent-color)
}

#coaching .side-block {
    left: calc(100% - 52% - 1%)
}

.bordered-img {
    border: var(--main-text-color) solid 2px;
    border-radius: 6px;
    transition: filter .3s
}

@media (max-width: 1050px) {
    section h2 {
        margin-bottom: 10px
    }

    .side-block br {
        display: none
    }
}

@media (max-width:768px) {
    h2 {
        font-size: 7vw
    }

    #coaching .side-block,
    #youtube .side-block {
        width: 90%;
        left: 5%
    }

    #youtube .side-block p {
        text-align: center;
        font-size: 4.5vw;
        margin: 0
    }
}

footer {
    background-color: #000;
    border-top: var(--accent-color) solid 3px;
    color: var(--main-text-color);
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0
}

footer #social {
    padding-left: 5px
}

footer #social-img {
    display: inline;
    justify-content: space-around
}

footer #social-img img {
    height: 15px;
    width: 15px
}

footer p {
    font-size: .8rem
}

a.me img {
    position: relative;
    bottom: 1px;
    width: 100px
}

@media (min-width: 768px) {
    footer p {
        font-size: 1.2rem
    }

    a.me img {
        width: 130px;
        bottom: 0
    }
}

@keyframes in {
    0% {
        opacity: .1;
        transform: translateY(-20%)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

@keyframes in-buttons {
    0% {
        background-color: var(--main-text-color);
        opacity: 0
    }

    5% {
        opacity: 1
    }

    100% {
        background-color: none;
        opacity: 1
    }
}

#social-img a {
    padding: 5px
}

#social-img a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

.back-to-top {
    animation: back-to-top-animation 1.5s;
    bottom: 2rem;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    z-index: 100
}

@keyframes back-to-top-animation {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    100% {
        opacity: .8;
        transform: translateY(0)
    }
}

.top-progress-bar {
    background: var(--main-text-color);
    border-bottom: 1px solid var(--accent-color);
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100
}

.me:hover {
    filter: brightness(370%)
}

.me img {
    margin-bottom: 2px
}

#coaching-page {
    position: relative;
    z-index: 21
}

@media (min-width: 1700px) {
    #coaching-page h3 {
        font-size: 1.8vw
    }

    #coaching-page p,
    #coaching-page li {
        font-size: 1.5vw
    }

    #coaching-page .testimonial .whois {
        font-size: 1.3rem
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #coaching-page .testimonial .whois {
        font-size: 1.1rem
    }
}

@media (max-width: 750px) {

    #coaching-page p,
    #coaching-page li {
        font-size: 1rem
    }
}

#coaching-page #main {
    background-color: #000;
    height: 58vw;
    overflow: hidden;
    padding-bottom: 48vw;
    z-index: 22
}

#coaching-page #main #title-text {
    position: absolute;
    top: 2.8%;
    left: 2%;
    width: 60%;
    z-index: 22
}

#coaching-page #main #free-trial-hook {
    font-size: 5vw;
    position: relative;
    top: 1vw;
    left: 10vw;
    text-shadow: 5px 5px var(--dark-accent-shadow) !important;
    font-weight: bold
}

#coaching-page #main #key-points-list {
    list-style: none;
    padding-left: 0
}

#coaching-page #main #key-points-list li {
    background-image: url(/img/shared/arrows/red-small.webp);
    background-repeat: no-repeat;
    background-size: 10vw;
    padding-left: 12vw;
    font-size: 3vw;
    line-height: 7vw;
    text-shadow: var(--hard-text-shadow-small)
}

#coaching-page #main #key-points-list li .accent {
    text-shadow: var(--hard-text-shadow-small)
}

#coaching-page #main #title-text h1 {
    position: relative;
    font-size: 6vw;
    text-decoration: none;
    text-align: start;
    text-shadow: var(--hard-text-shadow)
}

#coaching-page #main #title-text h2 {
    font-size: 2vw;
    text-decoration: none;
    text-align: start;
    margin-top: 10px;
    text-shadow: 3px 3px 6px #000
}

#coaching-page #main #title-text #main-action-block {
    display: flex;
    margin-top: 10px
}

#coaching-page #main #title-text #main-action-block a {
    margin: 0;
    margin-right: 20px;
    margin-left: 0;
    padding: 10px 20px;
    width: fit-content
}

@media (max-width: 750px) {
    #coaching-page #main #title-text #main-action-block a {
        padding: 5px;
        margin: 0 5px
    }
}

#coaching-page #main #main-play-image {
    position: absolute;
    width: 100%;
    z-index: 21;
    opacity: 1;
    transition: opacity .1s;
    height: 58vw
}

#pillars #pillars-detailed {
    margin-top: 25px
}

#pillars #pillars-detailed h3,
#success .story-title {
    font-size: 1.8rem
}

@media (min-width: 1700px) {

    #pillars #pillars-detailed h3,
    #success .story-title {
        font-size: 2vw
    }
}

@media (max-width: 768px) {

    #pillars #pillars-detailed h3,
    #success .story-title {
        font-size: 1.4rem
    }
}

.pillar {
    margin: 25px 0
}

.pillar-text {
    align-self: center
}

#pillars .pillar .icon {
    width: 100%;
    margin-right: 10px;
    align-self: center
}

p.review,
p.name {
    font-weight: bold
}

#success {
    z-index: 19
}

#why {
    z-index: 18;
    padding-bottom: 0
}

#pillars {
    z-index: 17
}

#benefits {
    z-index: 16
}

#push {
    z-index: 15
}

#whofor {
    z-index: 14
}

#final-message {
    z-index: 13
}

#pricing {
    z-index: 12;
    display: inline-flex;
    flex-direction: column
}

#faq {
    z-index: 11
}

#coaching-page #contact {
    z-index: 10
}

#success,
#benefits {
    text-align: center
}

#success #testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    margin-bottom: 25px
}

#success #testimonials .testimonial {
    width: 30%
}

#success #testimonials .testimonial img {
    width: 100%
}

#benefits #benefits-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

#benefits #benefits-items .benefit {
    padding: 0 10px;
    width: 20%;
    display: flex;
    flex-direction: column
}

#benefits #benefits-items .benefit .icon {
    display: block;
    width: 50%;
    align-self: center;
    margin-bottom: 10px
}

#benefits #benefits-items p {
    font-size: 1.3rem
}

#success .row {
    margin-bottom: 20px
}

#success .results p {
    font-size: 1.7rem
}

@media (max-width: 750px) {

    #success p,
    #success .results p {
        font-size: 1.2rem
    }
}

#success hr {
    margin: 1rem auto;
    border: 0;
    border-top: 2px solid;
    opacity: .15;
    color: white;
    width: 100%
}

#success .story .story-title {
    margin-top: 30px;
    margin-bottom: 30px
}

@media (max-width: 768px) {
    #success .story .story-title {
        margin-top: 10px;
        margin-bottom: 10px
    }
}

#success .story img {
    margin-bottom: 10px
}

#success .story .images img {
    width: 100%
}

#success .story .stacked-images img {
    width: 75%;
    left: -12.5%;
    position: relative;
    margin-bottom: -18%
}

#success .story .stacked-tight img {
    margin-bottom: -20%
}

#success .story .stacked-images img:nth-child(2) {
    left: 12.5%
}

#success h4 {
    font-size: 2rem !important
}

@media (min-width: 1050px) and (max-width: 1400px) {
    #success h4 {
        font-size: 1.5rem !important
    }
}

@media (min-width: 0px) and (max-width: 1050px) {
    #success h4 {
        font-size: 1.7rem !important
    }

    #success #transformations img {
        width: 45%
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    #success #testimonials .testimonial {
        width: 100%
    }
}

@media (min-width: 500px) and (max-width: 1050px) {
    #success #testimonials .testimonial {
        width: 45%
    }

    #benefits #benefits-items .benefit {
        width: 50%
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    #benefits #benefits-items .benefit {
        width: 100%
    }

    #benefits #benefits-items .benefit .icon {
        width: 50%
    }
}

@media (min-width: 0px) and (max-width: 775px) {
    #success .story .stacked-images img {
        width: 100%;
        left: 0 !important;
        margin-bottom: 15px
    }

    #pillars .pillar .icon {
        margin: 0 auto 15px;
        align-self: center
    }
}

.testiomial-text {
    margin-top: .5rem
}

#period-selector {
    display: inline-block;
    border-radius: 6px;
    width: max-content;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    overflow: auto
}

#prices-container {
    display: flex;
    margin: auto;
    padding-top: 30px;
    justify-content: center;
    row-gap: 30px;
    column-gap: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap
}

.price-card {
    position: relative;
    min-width: 300px;
    background-color: black;
    border-radius: 6px;
    padding: 20px;
    color: white;
    border: var(--main-text-color) solid 2px;
    transition: transform 0.3s, box-shadow .3s
}

@media (min-width: 768px) {
    .price-card {
        min-width: 500px;
        width: 29%
    }
}

.period-button {
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    background: black;
    padding: 5px;
    margin: 0 auto
}

.period-button:hover,
.period-button.period-selected {
    color: var(--main-text-color);
    background: var(--accent-color)
}

.feature {
    margin: 10px 0
}

#price-features li {
    list-style-type: none
}

#price-features li::before {
    list-style-type: none;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.25em auto
}

#price-features li.feature::before {
    content: "\A0\A0\A0\A0\A0\A0\A0";
    background-image: url(/img/shared/icons/feature.svg)
}

#price-features li.none::before {
    content: "\A0\A0\A0\A0\A0\A0";
    background-image: url(/img/shared/icons/cross.svg)
}

.feature-icon {
    width: 20px;
    margin-right: 8px
}

.price-title,
.price-cost,
.price-for {
    text-align: center
}

.price-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0 4px var(--accent-color)
}

.price-for {
    text-align: center;
    font-size: 1rem
}

.price-cost {
    font-size: 2rem;
    font-weight: 700
}

.monthly-selected {
    display: inline
}

.annually-selected {
    display: none
}

.price-best-tag {
    position: absolute;
    right: -15px;
    top: -15px;
    background: rgb(30, 150, 30);
    background: linear-gradient(90deg, rgba(30, 145, 30, 1) 0%, rgba(60, 160, 60, 1) 50%);
    color: #fff;
    border-radius: 6px;
    padding: 5px
}

#pre-prices p,
#post-prices p {
    font-size: 1.2rem
}

#takes .row * {
    text-align: start;
    color: var(--main-text-color);
    font-size: 1.5rem;
    word-wrap: break-word
}

@media (max-width:768px) {
    #takes .row * {
        font-size: 1rem
    }
}

.arrow-list {
    list-style-type: none
}

.arrow-list li::before {
    content: "➢ "
}

#reviews .quick-review {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%
}

#reviews .quick-review-icon {
    display: block;
    width: 40%;
    margin: 10px auto 20px;
    border-radius: 50%
}

#reviews .quick-review-text {
    display: flex;
    flex-direction: column;
    justify-content: center
}

#reviews .quick-review p {
    font-size: .9rem
}

@media (min-width:576px) {
    #reviews .quick-review p {
        font-size: 1rem
    }

    #reviews .quick-review-icon {
        width: 30%
    }
}

@media (min-width:768px) {
    #reviews .quick-review p {
        font-size: 1rem;
        margin-bottom: 0
    }

    #reviews .quick-review-icon {
        width: 30%
    }
}

@media (min-width:1200px) {
    #reviews .quick-review p {
        font-size: 1.2rem
    }

    #reviews .quick-review-icon {
        width: 20%
    }
}

@media (min-width:1400px) {
    #reviews .quick-review p {
        font-size: 1.5rem
    }
}

.faq-question {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 2em
}

.faq-question::before {
    content: "➢"
}

.faq-question:hover {
    color: black
}

.faq-answer-card {
    border: 2px black solid !important;
    background: none !important;
    font-size: 1.5rem;
    margin: 10px
}

#perks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.perk {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    margin: 0 2%
}

#perks .perk .perk-text {
    text-align: center;
    font-size: 1em
}

.perk-icon {
    width: 100%
}

@media (min-width: 0) and (max-width: 700px) {
    .perk {
        width: 24%;
        margin: 0 4%
    }
}

.texture-prism {
    background-color: #000;
    background-image: url(/img/shared/textures/prism.png);
    background-repeat: repeat;
    background-size: 100%
}

.block-shadow-down {
    box-shadow: var(--hard-shadow)
}

.block-neon-shadow-down {
    box-shadow: var(--neon-shadow) !important
}

.underline {
    text-decoration: underline
}

.bold {
    font-weight: bold
}

.accent {
    color: var(--accent-color) !important;
    text-shadow: 1px 1px 1px rgb(155 155 155 / 85%)
}

.accent-box {
    border: 3px solid var(--accent-color);
    padding: 10px;
    box-shadow: inset 0 0 1px 1px white
}

.hidden {
    display: none
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9
}

.black-background {
    background-color: var(--black-background-color)
}

.gray-background {
    background-color: var(--gray-background-color)
}

.accent-button {
    background: linear-gradient(to top, rgb(208 29 10) 0%, rgb(154 20 7) 65%, rgb(210 167 158) 100%);
    border: rgb(206 32 15) solid 3px;
    border-radius: 25px;
    box-shadow: inset 0 2px var(--dark-accent-shadow), 0 2px var(--dark-accent-shadow);
    color: var(--main-text-color) !important;
    text-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
    display: block;
    font-size: 2.5vw;
    padding: 5px;
    text-decoration: none;
    transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out !important;
    width: 0;
    text-align: center
}

.accent-button:hover {
    box-shadow: inset 0 10px 15px rgb(92, 11, 6);
    border-color: white
}

@media (max-width: 750px) {
    .accent-button {
        border-width: 0;
        text-shadow: none;
        font-size: 3.5vw;
        padding: 10px 15px
    }
}

.purchase-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px
}

.purchase-block h3 {
    text-align: start;
    margin-top: 10px;
    font-size: 2.3vw
}

.purchase-block .accent-button {
    flex: none;
    width: 40%
}

@media (max-width: 700px) {
    .purchase-block h3 {
        font-size: 3.8vw
    }
}

@media (min-width:992px) {
    .mt-lg-10 {
        margin-top: 10rem
    }
}