:root {
    --texture:
        radial-gradient(black 15%, transparent 14%) 0 0,
        radial-gradient(black 15%, transparent 14%) 6px 6px,
        radial-gradient(rgba(255, 255, 255, .08) 15%, transparent 12%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .08) 15%, transparent 12%) 6px 7px,
        rgb(12, 12, 12);
    --texture-size: 12px 12px;
    --texture-verbose-size: var(--texture-size), var(--texture-size), var(--texture-size), var(--texture-size);
    --main-text-color: #fff;
    --accent-color: #b81515;
    --hard-shadow: 0 2px 5px #000;
    --hard-shadow-up: 0 -2px 5px #000;
    --neon-shadow: 0 2px 20px rgb(50 4 4 / 0.4);
    --light-shadow: 0 2px 5px #222;
}

/* Scrollbar */
::-webkit-scrollbar {
    width:7px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* Common */
body {
    background-color: rgb(0, 0, 0) !important;
}

@font-face {
    font-family: Impact;
    src: url("/assets/impact.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-text-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic
}

p,
span {
    color: var(--main-text-color);
}

span {
    font-family: inherit;
    font-size: inherit;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 0.6rem !important;
}

@media (min-width: 1700px) {
    p {
        font-size: 2vw
    }
}

nav {
    background: linear-gradient(to right, rgba(233, 41, 41, 1), rgba(233, 41, 41, 1)), url(/img/nav.webp);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--light-shadow);
    padding: 0 9% !important;
    z-index: 22
}

nav .navbar-toggler {
    display: contents;
    padding: 5px !important
}

nav .navbar-collapse.show {
    margin-bottom: 10px;
}

nav .container-fluid {
    padding: 0 !important
}

nav .navbar-brand {
    min-height: 2.17vw;
    padding: 0 !important
}

nav .nav-link {
    animation: in-buttons 1s;
    animation-fill-mode: backwards;
    background-color: rgba(0, 0, 0, 0.3);
    border: #d2d2d2 solid 1px;
    box-shadow: 2px 2px #1f1f1f;
    color: #e6e6e6 !important;
    font-weight: 400;
    padding: 2px 30px !important;
    text-shadow: 1px 1px #000;
    transform: skewX(-15deg);
    transition: text-decoration .3s
}

nav .nav-item:nth-of-type(1) .nav-link {
    animation-delay: .5s
}

nav .nav-item:nth-of-type(2) .nav-link {
    animation-delay: .7s
}

nav .nav-item:nth-of-type(3) .nav-link {
    animation-delay: .9s
}

nav .nav-item:nth-of-type(4) .nav-link {
    animation-delay: 1.1s
}

nav .nav-link:hover {
    background-color: var(--main-text-color);
    color: #000
}

nav ul.navbar-nav {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

nav .nav-link.active,
nav .nav-link:hover {
    color: var(--main-text-color) !important
}

nav #logo {
    max-width: 55%
}

@media (min-width: 700px) and (max-width: 992px) {
    nav {
        flex-wrap: nowrap !important;
    }

    nav .nav-link {
        padding: 1px 10px !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    nav ul.navbar-nav {
        flex-direction: row !important;
        margin: 7px 0;
    }

    nav .navbar-toggler {
        display: none
    }
}

.navbar-toggler-icon {
    width: 1.2em !important;
    height: 28px !important;
    position: absolute !important;
    right: 10% !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    top: 3%;
}

.in-animate {
    transform: translateY(-20%)
}

.in-animation {
    animation: in 1s;
    animation-fill-mode: both
}

section {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 10px;
}

section h2,
section h3 {
    margin-bottom: 20px;
    text-align: center;
}

section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4vw;
    text-decoration: underline;
}

section h3 {
    font-size: 3vw;
    margin-bottom: 10px;
    text-decoration: none;
}

@media (max-width: 700px) {
    section h2 {
        font-size: 7vw;
    }

    section h3 {
        font-size: 5vw;
    }

    #intro .big-text {
        font-size: 1.2rem !important;
    }

    #contact .text-block p {
        margin: 5px auto !important;
        width: 100% !important;
        font-size: 0.8rem;
    }
}

#main-image-container {
    background-color: #000;
    height: 58vw;
    overflow: hidden;
    padding-bottom: 58vw;
    z-index: 21
}

#main-image-container #title-text {
    font-weight: 700;
    left: 33%;
    position: absolute;
    text-align: center;
    text-shadow: 1.5px 1.5px 3px #000;
    top: 22%;
    transform: translate(-50%, -50%);
    z-index: 21
}

#main-image-container h2 {
    text-decoration: none;
}

@media (max-width: 600px) {
    #main-image-container #title-text {
        top: 22%
    }
}

#main-image-container #title-text h1 {
    font-size: 6.5vw
}

#main-image-container #title-text .sub-h {
    font-size: 3vw;
    margin-top: 0;
}

#main-image-container #main-image {
    margin-left: 4.5%;
    width: 95.5%
}

#main-image-container #strip-image {
    filter: drop-shadow(2px 2px 5px #222);
    left: -38%;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 20
}

#main-image-container #strip-image-coaching {
    filter: drop-shadow(2px 2px 5px #222);
    left: -28%;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 55%;
    z-index: 20
}

#slogan {
    background: linear-gradient(90deg, var(--accent-color) 0%, #190000 90%);
    box-shadow: var(--hard-shadow-up);
    padding: 2% 9%;
    z-index: 20
}

#slogan h2 {
    font-size: 3.3vw;
    margin: 0 !important;
    text-align: center;
    text-decoration: none;
}

#stars {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    z-index: 20
}

#stars img {
    border: var(--accent-color) solid 2px;
    border-radius: 250px;
    width: 70%;
    max-width: 300px;
}

#stars .star-review {
    align-items: center;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: flex-start
}

#stars .star-review * {
    text-align: center
}

#stars .star-review h3 {
    font-size: 1rem;
    margin: 0;
}

#stars .star-review p {
    color: var(--main-text-color);
    font-size: 1rem;
    padding: 0;
}

#stars .star-review hr {
    margin: 20px 0;
}

@media (max-width: 865px) {
    #stars {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }

    #stars .star-review {
        align-self: flex-start;
        flex-basis: 45%
    }

    #stars .star-review:nth-child(2n+3) {
        align-self: flex-start;
        flex-basis: 90%
    }

    #stars .star-review:nth-child(2n+3) img {
        width: 35%
    }

    #stars .star-review:nth-child(2n+3) p {
        margin-bottom: 0
    }

    #stars br.can-be-hidden {
        display: none
    }

    #stars .star-review img {
        margin-bottom: 8px;
    }

    #stars .star-review h3 {
        margin-bottom: 5px;
    }

    #stars .star-review hr {
        margin: 8px 0;
    }
}

@media (min-width: 600px) and (max-width: 1500px) {
    #stars .star-review h3 {
        font-size: 1.5rem
    }
}

@media (min-width: 1500px) {
    #stars .star-review h3 {
        font-size: 2rem
    }
}

@media (min-width: 600px) and (max-width: 1500px) {
    #stars .star-review p {
        font-size: 1.2rem
    }
}

@media (max-width: 400px) {
    #stars .star-review h3 {
        font-size: .8rem
    }
}

@media (max-width: 600px) {
    #stars .star-review p {
        font-size: .7rem
    }
}

@media (min-width: 1500px) {
    #stars .star-review p {
        font-size: 1.5rem
    }
}

#stars .star-review hr {
    background-color: var(--main-text-color) !important;
    border-top: var(--main-text-color) 1px solid !important;
    opacity: 1 !important;
    width: 100%
}

#bio {
    min-height: 108vw;
    z-index: 19
}

@media (min-width: 1800px) {
    #bio {
        min-height: 103vw;
    }
}

#coaching {
    min-height: 51vw;
    z-index: 18
}

#contact {
    z-index: 15
}

#youtube {
    min-height: 55vw;
    z-index: 17
}

#bio,
#coaching,
#youtube,
#contact {
    padding-bottom: 50px;
    position: relative
}

#contact {
    padding-bottom: 25px;
}

.text-block p {
    margin-bottom: 10px
}

@media (min-width: 1000px) and (max-width: 1500px) {
    #bio .text-block p {
        font-size: 2vw;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    #bio .text-block p {
        font-size: 2.7vw;
    }
}

.text-block {
    left: 5%;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    width: 45%
}

#contact .text-block {
    left: 15%;
    width: 70%
}

#contact .text-block br {
    display: block !important
}

#contact .text-block p {
    margin: 10px auto;
    width: 70%
}

#contact .text-block a {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s
}

#contact .action-block a {
    width: 55%;
}

@media (max-width: 600px) {
    #contact .text-block a {
        font-size: 1rem
    }
}

#contact .text-block a:hover {
    color: var(--accent-color)
}

#contact .contact-img {
    width: 32px
}

.action-block {
    margin: auto;
    width: 100%
}

.action-block p {
    font-weight: 700;
    margin: auto;
    width: 70%
}

.action-block a {
    background-color: #000;
    border: var(--main-text-color) solid 2px;
    border-radius: 3px;
    box-shadow: 5px 5px #3f0909;
    color: var(--main-text-color) !important;
    display: block;
    font-size: 2.5vw;
    font-style: italic;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow .3s;
    width: 80%
}

.action-block a:hover {
    border: var(--main-text-color) solid 2px;
    box-shadow: none;
    color: var(--main-text-color);
    transform: translateX(5px) translateY(5px)
}

#coaching .text-block {
    left: calc(100% - 45% - 5%);
}

@media (max-width: 600px) {
    .text-block p {
        font-size: 2.5vw
    }

    p {
        font-size: 2.5vw
    }
}

.deck-images {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 5%;
    position: absolute;
    width: 20%
}

.deck-images a {
    width: 100%
}

#youtube .deck-images {
    left: calc(100% - 40% - 5%);
    top: 20px
}

.bordered-img {
    border: var(--main-text-color) solid 2px;
    border-radius: 6px;
    transition: filter .3s;
}

.deck-images img {
    margin-bottom: -25%;
    width: 100%
}

.video-img {
    transition: filter .3s;
}

a:hover .video-img {
    filter: brightness(170%)
}

#coaching .deck-images {
    top: 50px
}

.deck-images a:nth-child(even) img,
#youtube .deck-images a:nth-child(odd) img {
    transform: rotateZ(10deg) translateX(75%)
}

.deck-images a:nth-child(odd) img,
#youtube .deck-images a:nth-child(even) img {
    transform: rotateZ(-10deg)
}

@media (max-width: 1050px) {
    section h2 {
        margin-bottom: 10px
    }

    #coaching .deck-images {
        top: 20px
    }

    .deck-images {
        width: 40%
    }

    .deck-images img {
        margin-bottom: 0 !important;
        transform: none !important
    }

    .text-block br,
    .deck-images a {
        display: none
    }
}

@media (min-width: 850px) and (max-width: 1050px) {
    .deck-images a:nth-child(-n+4) {
        display: block !important
    }
}

@media (min-width: 600px) and (max-width: 850px) {
    .deck-images a:nth-child(-n+6) {
        display: block !important
    }
}

@media (max-width: 600px) {
    .deck-images a:nth-child(-n+3) {
        display: block !important
    }
}

#bio #bio-images {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 25px;
    width: 40%
}

#bio #bio-images div {
    align-items: flex-start;
    display: flex
}

@media (max-width: 1000px) {
    #bio {
        min-height: 190vw
    }

    #bio #bio-images div {
        display: contents
    }

    #bio #bio-images img {
        width: 100% !important
    }
}

@media (max-width: 600px),
(min-width: 740px) and (max-width: 1000px) {
    #bio #bio-images img.can-be-hidden {
        display: none
    }
}

@media (min-width: 600px) and (max-width: 740px) {

    #bio #bio-images img.can-be-hidden2,
    #bio #bio-images img.can-be-hidden {
        display: none
    }
}

#bio #bio-images img {
    border: var(--main-text-color) solid 2px;
    border-radius: 6px;
    max-width: 100%
}

footer {
    background-color: #000;
    border-top: var(--accent-color) solid 3px;
    color: var(--main-text-color);
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0
}


footer #social {
    padding-left: 5px;
}

footer #social-img {
    display: inline;
    justify-content: space-around
}

footer #social-img img {
    height: 15px;
    width: 15px
}

footer p {
    font-size: 1rem;
}

@keyframes in {
    0% {
        opacity: .1;
        transform: translateY(-20%)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

@keyframes in-buttons {
    0% {
        background-color: var(--main-text-color);
        opacity: 0
    }

    5% {
        opacity: 1
    }

    100% {
        background-color: none;
        opacity: 1
    }
}

#social-img a {
    padding: 5px
}

#social-img a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

.back-to-top {
    animation: back-to-top-animation 1.5s;
    bottom: 2rem;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    z-index: 100
}

@keyframes back-to-top-animation {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    100% {
        opacity: .8;
        transform: translateY(0)
    }
}

.top-progress-bar {
    background: var(--main-text-color);
    border-bottom: 1px solid var(--accent-color);
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100
}

.me:hover {
    filter: brightness(370%)
}

.me img {
    margin-bottom: 2px;
}

/* Coaching */
#coaching-page {
    position: relative;
    z-index: 21;
}

#coaching-page p {
    font-size: 1.5rem;
}

@media (min-width: 1700px) {
    #coaching-page p {
        font-size: 1.5vw;
    }

    #coaching-page .testimonial .whois {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #coaching-page .testimonial .whois {
        font-size: 1.1rem;
    }
}

@media (max-width: 750px) {
    #coaching-page p {
        font-size: 1rem;
    }
}

#main-video-container {
    background-color: #000;
    height: 58vw;
    overflow: hidden;
    padding-bottom: 48vw;
    z-index: 22;
}

#main-video-container #main-play {
    opacity: 1;
    transition: opacity 1s ease 0s;
}

#main-video-container #title-text {
    position: absolute;
    top: 4%;
    left: 13%;
    width: 46%;
    z-index: 22;
}

#main-video-container #title-text h1 {
    font-size: 6vw;
    text-decoration: none;
    text-align: start;
    text-shadow: 1.5px 1.5px 3px #000;
}

#main-video-container #title-text h2 {
    font-size: 2vw;
    text-decoration: none;
    text-align: start;
    margin-top: 10px;
    text-shadow: 3px 3px 6px #000;
}

#main-video-container #title-text #main-action-block {
    display: flex;
    margin-top: 10px;
}

#main-video-container #title-text #main-action-block a {
    margin: 0;
    margin-right: 20px;
    margin-left: 0;
    padding: 10px 20px;
    width: fit-content;
}


@media (max-width: 750px) {
    #main-video-container #title-text #main-action-block a {
        padding: 5px 5px;
        margin: 0 5px;
    }
}

#main-video-container #strip-image-coaching {
    filter: drop-shadow(2px 2px 5px #222);
    left: -20%;
    height: 58vw;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 40%;
    z-index: 22
}

#main-video-container #main-play-image {
    position: absolute;
    width: 100%;
    left: 1.4%;
    z-index: 21;
    opacity: 1;
    transition: opacity 0.1s;
    height: 58vw;
}

#pillars #pillars-detailed {
    margin-top: 25px;
}

#pillars #pillars-block {
    margin: 15px 0;
}

#pillars #pillars-block .pillars-texts {
    font-size: 2.3vw;
    padding: 0 3%;
}

.pillar {
    margin: 25px 0;
}

#pillars .pillars-texts .pillar-text:nth-child(2) {
    float: right;
}

#pillars #pillars-block #pillars-img {
    width: 40%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

#pillars .pillar .icon {
    width: 100%;
    margin-right: 10px;
    align-self: center;
}

p.review,
p.name {
    font-weight: bold;
}

#promo {
    z-index: 21
}

#intro {
    z-index: 20
}

#pillars {
    z-index: 19
}

#success {
    z-index: 18
}

#more-success {
    z-index: 17
}

#benefits {
    z-index: 16
}

#pricing {
    z-index: 15;
    display: inline-flex;
    flex-direction: column;
}

#success,
#more-success,
#benefits {
    text-align: center;
}

#intro .text-block p {
    text-align: start;
}

#intro .side-images img {
    width: 100%;
}

#intro .big-text {
    font-size: 2rem;
}

.subsection {
    margin-bottom: 30px;
}

#more-success #testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    margin-bottom: 25px;
}

#more-success #testimonials .testimonial {
    width: 30%;
}

#more-success #testimonials .testimonial img {
    width: 100%;
}

#more-success #transformations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 15px;
}

#more-success #transformations img {
    width: 30%;
}

#benefits #benefits-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#benefits #benefits-items .benefit {
    padding: 0 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#benefits #benefits-items .benefit .icon {
    display: block;
    width: 50%;
    align-self: center;
    margin-bottom: 10px;
}

#benefits #benefits-items p {
    font-size: 1.3rem;
}

#success .row {
    margin-bottom: 20px;
}

#success .results p {
    font-size: 1.7rem;
}

@media (max-width: 750px) {
    #success p {
        font-size: 1.4rem;
    }

    #success .results p {
        font-size: 1.4rem;
    }
}

#success hr {
    margin: 1rem auto 3rem;
    border: 0;
    border-top: 2px solid;
    opacity: .15;
    color: white;
    width: 100%;
}

#success .story .video-img {
    width: 100%;

}

#success .story img {
    margin-bottom: 10px;
}

#success .story .images img {
    width: 100%;
}

#success .story .stacked-images img {
    width: 75%;
    left: -12.5%;
    position: relative;
    margin-bottom: -18%;
}

#success .story .stacked-tight img {
    margin-bottom: -15%;
}

#success .story .stacked-images img:nth-child(2) {
    left: 12.5%;
}

#vimeo-container {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

#vimeo-container .arrow {
    padding: 20px;
    margin: 10px;
    width: 20%;
    height: fit-content;
}

#pricing #pricing-vimeo,
#promo #promo-vimeo {
    width: 60%;
    height: 32.5vw;
    padding-bottom: 0;
    border: var(--main-text-color) solid 2px;
    border-radius: 6px;
}

@media (min-width: 0) and (max-width: 700px) {

    #pricing #pricing-vimeo,
    #promo #promo-vimeo {
        width: 100%;
        height: 55vw;
        margin-bottom: -20px;
        border: none;
        border-radius: 0;
    }

    #vimeo-container .arrow {
        display: none;
    }

    #promo h2,
    #pricing h2 {
        display: none;
    }

    #vimeo-container {
        padding: 0;
        margin: 0;
    }
}

#more-success h4 {
    font-size: 2rem !important;
}

@media (min-width: 1050px) and (max-width: 1400px) {
    #more-success h4 {
        font-size: 1.5rem !important;
    }
}

@media (min-width: 0px) and (max-width: 1050px) {
    #more-success h4 {
        font-size: 1.3rem !important;
    }

    #more-success #transformations img {
        width: 45%;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    #more-success #testimonials .testimonial {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 1050px) {
    #more-success #testimonials .testimonial {
        width: 45%;
    }

    #benefits #benefits-items .benefit {
        width: 30%;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    #benefits #benefits-items .benefit {
        width: 100%;
    }

    #benefits #benefits-items .benefit .icon {
        width: 30%;
    }
}

@media (min-width: 0px) and (max-width: 775px) {
    #success .story .stacked-images img {
        width: 100%;
        left: 0 !important;
        margin-bottom: 15px;
    }

    #pillars .pillar .icon {
        width: 30%;
        margin: 0 auto 15px;
        align-self: center;
    }

    #pillars #pillars-block .pillars-texts {
        font-size: 3.5vw;
        padding: 0 0;
    }

    #pillars #pillars-block #pillars-img {
        width: 70%;
    }
}

@media (min-width: 500px) and (max-width: 775px) {
    #pillars #pillars-block .pillars-texts {
        font-size: 2.5vw;
    }
}

.testiomial-text {
    margin-top: 0.5rem;
}

#period-selector {
    display: inline-block;
    border-radius: 6px;
    width: max-content;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    overflow: auto;
}

#prices-container {
    display: flex;
    margin: auto;
    padding-top: 30px;
    justify-content: center;
    row-gap: 10px;
    column-gap: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.feature-text {
    display: inline;
}

.price-card {
    position: relative;
    max-width: 400px;
    background-color: black;
    border-radius: 6px;
    padding: 20px;
    color: white;
    border: var(--main-text-color) solid 2px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* .price-card:hover {
    transform: scale(102%);
    box-shadow: 0 0 11px rgba(255, 0, 0, 0.436);
} */

.period-button {
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    background: black;
    padding: 5px 5px;
    margin: 0 auto;
}

.period-button:hover, .period-button.period-selected {
    color: var(--main-text-color);
    background: var(--accent-color);
}

.feature {
    margin-bottom: 8px;
}

.feature-icon {
    width: 20px;
    margin-right: 5px;
}

.price-title, .price-cost {
    text-align: center;
    font-size: 2rem;
}

.price-title {
    font-size: 1.5rem;
}

.monthly-selected {
    display: inline;
}

.annually-selected {
    display: none;
}

.price-best-tag {
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: green;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
}

#pre-prices p, #post-prices p {
    font-size: 1rem;
}

#pre-prices p {
    padding: 0 30%;
}

/* Utility */
.transparent {
    opacity: 0.01 !important;
    transition: opacity 1s;
}

.gradient-accent-down-to-black {
    background:
        linear-gradient(180deg, var(--accent-color) 0%, rgba(0, 0, 0, 0.4) 100%),
        var(--texture);
    background-size: contain, var(--texture-verbose-size);
}

.texture-carbon {
    background-color: #000;
    background: var(--texture);
    background-size: var(--texture-size);
    box-shadow: var(--hard-shadow) var(--hard-shadow-up);

}

.texture-brick {
    background-color: #000;
    background-image: url('/img/coaching/dark-brick-wall.png');
    background-repeat: repeat;
    background-size: 10%;
}

.texture-prism {
    background-color: #000;
    background-image: url('/img/prism.png');
    background-repeat: repeat;
    background-size: 100%;
}

@media (max-width: 750px) {
    .texture-brick {
        background-size: 20%;
    }
}

.texture-scales {
    background-color: #000;
    background-image: url('/img/coaching/scales.png');
    background-repeat: repeat;
}

.block-shadow-down {
    box-shadow: var(--hard-shadow);
}

.block-neon-shadow-down {
    box-shadow: var(--neon-shadow) !important;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.accent {
    color: var(--accent-color) !important;
    text-shadow: 1px 1px 1px rgb(155 155 155 / 85%);
}

.w-85 {
    width: 85%;
}

.hidden {
    display: none;
}

.rotated180 {
    transform: rotateZ(180deg);
}