<section id="benefits" class="in-animate black-background block-neon-shadow-down">
    <div class="container-fluid">
        <h2 class="">And it still doesn’t stop there</h2>
        <div id="benefits-items">
            <div class="benefit">
                <img class="icon" src="/img/coaching/benefits/managed.webp" loading="lazy" alt="">
                <p><span class="bold">Your whole health and fitness aspects of your life managed by me</span></p>
                <p>You <span class="accent">will never spend even a second of your time</span> wondering what to do
                    next or what should be
                    changed. Any research, analysis, corrections – everything is delegated to me. So you can <span
                        class="accent">focus
                        on your life, family, work, hobbies, etc</span></p>
            </div>

            <div class="benefit">
                <img class="icon" src="/img/coaching/benefits/conditions.webp" loading="lazy" alt="">
                <p><span class="bold">Got health conditions or physical limitations? Not a problem!</p>
                <p>It’s very common for some trainers to push clients beyond their limits, causing injuries and
                    serious fatigue. But, for me, <span class="accent">your health and safety are always the biggest
                        priority</span>, even if it
                    means a little slower progress</p>
            </div>

            <div class="benefit">
                <img class="icon" src="/img/coaching/benefits/calls.webp" loading="lazy" alt="">
                <p><span class="bold">Live zoom workout sessions and coaching calls</span></p>
                <p>Right, I will provide you with <span class="accent">all the available tools</span> to ensure your
                    best workout execution and
                    to discuss everything we need in more details</p>
            </div>

            <div class="benefit">
                <img class="icon" src="/img/coaching/benefits/apps.webp" loading="lazy" alt="">
                <p><span class="bold">The apps that give you easy access to everything you need</span></p>
                <p>Yes, I’ve optimized the process as best as I could to make sure <span class="accent">you don’t
                        feel burdened and
                        overwhelmed</span>. It’s very <span class="accent">time-efficient and simple</span> to
                    follow</p>
            </div>
        </div>
    </div>

</section>