<section id="contact" class="in-animate black-background block-neon-shadow-down">
    <div class="side-block">
        <h2>Reserve Your Spot <span class="accent">NOW Before It’s Gone</span>!</h2>
        <h3>Get in touch with me to book your strategy session and get started on your FREE trial</h3>

        <a class="accent-button w-50 mx-auto mt-3" href="https://calendly.com/nikkurdoyak/strategy-session">I Am Ready
            To
            Transform</a>

        <br>
        <a href="tel:+17867417710" class="contact-link"><img class="contact-img" src="/img/shared/icons/call.png"
                loading="lazy" alt="">
            +1-786-741-7710</a>
        <br>
        <a href="mailto:contact@trainedbynik.fit" class="contact-link"><img class="contact-img"
                src="/img/shared/icons/email.png" loading="lazy" loading="lazy" alt="">
            contact@trainedbynik.fit
        </a>
    </div>
</section>