<section id="faq" class="in-animate gray-background">
    <h2 class="underline text-black">Frequently Asked Questions</h2>

    {{> faqItem index=0 question="Do you work with women?" answer="Yes, I do. In fact, usually around 1/3 of my
    clients are
    women."}}
    {{> faqItem index=1 question="Do you work with people worldwide?" answer="My program is 100% online, however, I
    usually
    work with people from the US, UK, EU, Canada, Australia, and New
    Zealand. If you are from another country and want to apply, please contact me first."}}
    {{> faqItem index=2 question="If I apply, can I work out at home, or do I have to go to the gym?" answer="100%
    you can
    workout at home and I will build your custom programs around the equipment you have, your schedule,
    goals, etc. Even though I can suggest going to the gym for best possible results, if you can’t - I will do my
    best to optimize your home workout routine."}}
    {{> faqItem index=3 question="I am afraid this program might be too intense for me." answer="My program is
    hardcore in
    terms of my commitment and dedication to your best possible success, NOT in terms of
    pushing you above the limits, yelling at you, etc. You want that “good” kind of intensity to ensure a serious
    and long-lasting change. I want to make sure you can maintain your results even after you stop working with
    me."}}
    {{> faqItem index=4 question="When can I expect to see significant changes in my physique?" answer="I’ve had
    people
    making insane transformations in only 3 months, as well as I had clients who took up to 12
    months. It all primarily depends on your commitment level, learning curve, how often you face obstacles (that
    make you go off track) your genetics, and other things. I am going to be your daily partner supporting and
    guiding you throughout all of these to do whatever it takes to keep you on the straight quickest line towards
    your best possible transformation. And, if you !!!!!!!!!!!!!!"}}

</section>