<section id="final-message" class="in-animate gray-background">
    <h2 class="underline ">My final message to you is…</h2>

    <div class="container mb-4">
        <p>
            93% of my clients crash their fitness goals and make their lives better. That’s right, and I am very
            honest
            about it, not completely everybody makes it all the way to where they want. However, if you are willing
            to
            <span class="underline">challenge yourself and give it your 80-90% commitment as my clients above
                did</span>, <span class="accent">I
                GUARANTEE</span> that, <span class="accent">in 4-12 months, you will have it all…</span>
        </p>
    </div>

    <div id="perks" class="container mb-4">
        {{> perk imageFile="physique.webp" imageAlt="Physique" text="A great-looking physique"}}
        {{> perk imageFile="confidence.webp" imageAlt="Confidence" text="Elevated confidence,
        self-esteem, and assertiveness"}}
        {{> perk imageFile="status.webp" imageAlt="Status" text="Higher social status, more
        respect from others, and more opportunities"}}
        {{> perk imageFile="rolemodel.webp" imageAlt="Role Model" text="Being a role model for your
        family and others "}}
        {{> perk imageFile="energy.webp" imageAlt="Energy" text="Boosted energy, drive,
        performance, and stress resiliency"}}
        {{> perk imageFile="commitment.webp" imageAlt="Commitment" text="A lifetime relentless
        commitment to your health and fitness"}}
    </div>

    <h3 class="text-center  underline">Let’s Unleash <span class="accent">The BEAST</span> Together!</h3>
</section>