<section id="hook" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row mb-lg-5">
            <div class="px-3 px-md-5 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 ">I Will Be Very Direct With You… <br> I Don’t Think You Are A
                    Great Fit
                    For It</h2>

                <p>
                    Many people simply don’t realize what it takes to make a <span class="accent">REAL change</span>.
                    They believe it’s fine to half-ass
                    the process (because they are so busy with many commitments) but still get great results.
                </p>

                <p>
                    Enough BS. The last decade of your life has been a cheat meal and sloth. You’ve got your
                    body, health, energy levels, and confidence to the point of <span class="accent">complete misery and
                        embarrassment</span>. When was
                    the last time you were proud of your reflection in the mirror? When was the last time you felt
                    confident
                    at the beach?
                </p>

                <p>
                    Time to cut it off right there. No more bitching and making dumb excuses. Time to
                    realize that having a great-looking physique and becoming a goddamn machine will only help you <span
                        class="accent">
                        attract
                        more business opportunities</span>, be a <span class="accent">better family man and
                        partner</span> and simply live a happier,
                    <span class="accent">more powerful life</span>.
                </p>

                <p>That’s where my extremely determined, NO-BS program comes into play…</p>
            </div>

        </div>
    </div>
    <img src="/img/pages/coaching/hook/phone.webp" class="w-100 d-lg-none" alt="">
</section>