<section id="main" class="block-shadow-down">
    <div id="title-text">
        <h1 class="mb-1">The Hardcore Online Fitness Coaching And Mentoring</h1>
        <ul id="key-points-list">
            <li>Build A <span class="accent">Badass Physique</span></li>
            <li>Obtain <span class="accent">Ultimate Confidence</span></li>
            <li>Become <span class="accent">Relentless</span></li>
        </ul>
        <p id="free-trial-hook">FREE TRIAL</p>
    </div>

    <img id="main-play-image" srcset="/img/pages/coaching/main/main-sm.webp 576w,  
             /img/pages/coaching/main/main-lg.webp 992w,   
             /img/pages/coaching/main/main-xxl.webp 1400w,
             /img/pages/coaching/main/main.webp 1920w" , src="/img/pages/coaching/main/main.webp" alt=""
        class="in-animate in-animation" />
</section>