<section id="pillars" class="in-animate black-background block-neon-shadow-down">
    <div class="container">
        <h2 class="underline">My program goes beyond just giving you training and nutrition plans to follow</h2>

        <div id="pillars-detailed" class="container">
            <div class="pillar row">
                <h3>An in-depth analysis of your workouts and exercise execution followed by comprehensive feedback
                    and progress updates</h3>
                <div class="d-flex col-12 col-lg-6">
                    <img class="icon bordered-img" src="/img/pages/coaching/pillars/execution.webp" loading="lazy"
                        alt="">
                </div>
                <div class="pillar-text col-12 col-lg-6">
                    <p>
                        NOT a single rep during your sets will be disregarded. NOT a little form imperfection will
                        be ignored. I will deep
                        dive into <span class="accent">every little detail</span> of your training (which you will
                        log in the app and send
                        videos using WhatsApp),
                        provide you with the feedback and update your progress for next workout. To ensure <span
                            class="accent">the
                            straight line quickest
                            success to your best physique</span>, maximize your <span class="accent">training
                            efficiency</span>, and also <span class="accent">guarantee your
                            safety</span>.
                    </p>
                </div>
            </div>

            <div class="pillar row">
                <h3>Extensive guidance on nutrition and supplementation with thorough feedback</h3>
                <div class="d-flex col-12 col-lg-6 order-lg-2">
                    <img class="icon bordered-img" src="/img/pages/coaching/pillars/nutrition.webp" loading="lazy"
                        alt="">
                </div>

                <div class="pillar-text col-12 col-lg-6">
                    <p>
                        You will never hear me saying things like “You are good”, “I like it, keep it up”, or just
                        giving you thumbs up.
                        Instead, I will <span class="accent">dig into every gram</span> of your nutrients (which you
                        will log via MyFitnessPal,
                        it’s very simple), and
                        give you an in-depth response on <span class="accent">how we can improve it</span> while
                        making it <span class="accent">as sustainable as
                            possible</span>. Plus, if you want
                        to level up the game and start taking (LEGAL) supplements, I will provide you with a
                        <span class="accent">completely individualized list, how to take these supplements and in
                            what amounts</span> based on your individual factors (goals, weight, age, etc.).
                    </p>
                </div>
            </div>

            <div class="pillar row">
                <h3>Regular progress check-ins followed by root cause analysis, feedback, and proper routine
                    adjustments</h3>
                <div class="d-flex col-12 col-lg-6">
                    <img class="icon bordered-img" src="/img/pages/coaching/pillars/measurements.webp" loading="lazy"
                        alt="">
                </div>
                <div class="pillar-text col-12 col-lg-6">
                    <p>
                        I won’t take it easy when it comes to your measurements and body pictures. I will analyze
                        <span class="accent">every little aspect</span> of
                        your results to get a clear understanding of what’s happening to your body, and (if needed)
                        adjust your training,
                        nutrition or recovery <span class="accent">to optimize your progress</span> at the highest
                        level possible. Again, to
                        ensure <span class="accent">the straight path</span>
                        towards the body you want, and <span class="accent">minimize/eliminate set-backs and
                            plateaus</span>. We have no time to
                        waste doing something
                        that doesn’t get the results.
                    </p>
                </div>
            </div>

            <div class="pillar row mb-4">
                <h3>Life coaching, immediate support and routine adaptation</h3>
                <div class="d-flex col-12 col-lg-6 order-lg-2">
                    <img class="icon bordered-img" src="/img/pages/coaching/pillars/support.webp" loading="lazy" alt="">
                </div>

                <div class="pillar-text col-12 col-lg-6">
                    <p>
                        Do you face challenging times? Have to travel? Got sick? Planning a vacation? I will modify
                        your training,
                        nutrition, and everything else <span class="accent">to adapt your routine perfectly for all
                            kinds of
                            circumstances</span>. Plus, remember, I am
                        NOT just your trainer, and you are NOT just my customer. <span class="accent">We are
                            partners, and you can rely
                            on my support at any time</span>.</p>
                    <p>
                        <span class="underline">BONUS:</span> Do you like to talk? I support conversations on other
                        topics as well.
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>