<section id="pricing" class="in-animate black-background block-neon-shadow-down">
        <h2 class="underline">Pricing</h2>
        <div id="pre-prices" class="container text-center">
                <p>Get a taste of the program’s ultimate value with a 7-day FREE trial. NO payment information required.
                </p>
                <p>Save 20% with a 4-months pack.</p>
        </div>
        <div id="period-selector">
                <a class="period-button period-selected" id="period-monthly-btn" href="">Monthly</a><a
                        class="period-button" id="period-annually-btn" href="">4-months</a>
        </div>
        <div id="prices-container" class="container-fluid">
                <div class="price-card texture-prism">
                        <div class="price-title">Essentials</div>
                        <div class="price-cost"><span class="monthly-selected">249$</span><span
                                        class="annually-selected">796$</span></div>
                        <div class="price-for">Best for the maintenance mode</div>
                        <ul id="price-features">
                                <li class="feature">Weekly progress check-ins and
                                        feedback</li>
                                <li class="feature">Timely training and nutrition
                                        adjustments</li>
                                <li class="feature">1 exercise form videos for analysis
                                        per week</li>
                                <li class="feature">Weekly nutrition feedback</li>
                                <li class="feature">Basic guidance on supplements</li>
                                <li class="feature">Monthly training feedback and
                                        progress
                                        updates</li>
                                <li class="feature">Basic monthly lifestyle audit</li>
                                <li class="feature">Response time – within 24
                                        hours</li>
                                <li class="none">
                                        Coaching calls</li>
                                <li class="none">
                                        Zoom workout sessions</li>
                                <li class="none">
                                        Weekend
                                        availability</li>
                        </ul>
                </div>

                <div class="price-card texture-prism">
                        <span class="price-best-tag">Best value</span>
                        <div class="price-title">Gold</div>
                        <div class="price-cost"><span class="monthly-selected">399$</span><span
                                        class="annually-selected">1277$</span></div>
                        <div class="price-for">Great progress at your own pace</div>
                        <ul id="price-features">
                                <li class="feature">Weekly progress check-ins and
                                        feedback</li>
                                <li class="feature">Timely training and nutrition
                                        adjustments</li>
                                <li class="feature">3 exercise form videos for analysis
                                        per week</li>
                                <li class="feature">2 times per week nutrition
                                        feedback</li>
                                <li class="feature">Basic guidance on supplements</li>
                                <li class="feature">Bi-weekly training feedback and
                                        progress
                                        updates</li>
                                <li class="feature">Basic monthly lifestyle audit</li>
                                <li class="feature">Response time – within 12
                                        hours</li>
                                <li class="feature">Monthly coaching calls</li>
                                <li class="feature">Monthly Zoom workout sessions</li>
                                <li class="none">Weekend availability</li>
                        </ul>
                </div>

                <div class="price-card texture-prism">
                        <div class="price-title">VIP</div>
                        <div class="price-cost"><span class="monthly-selected">549$</span><span
                                        class="annually-selected">1757$</span></div>
                        <div class="price-for">Fast track to a great-looking body</div>
                        <ul id="price-features">
                                <li class="feature">Weekly progress check-ins and
                                        feedback</li>
                                <li class="feature">Timely training and nutrition
                                        adjustments</li>
                                <li class="feature">5 exercise form videos for analysis
                                        per week</li>
                                <li class="feature">3 times per week nutrition
                                        feedback</li>
                                <li class="feature">Thorough guidance on
                                        supplements</li>
                                <li class="feature">Weekly training feedback and
                                        progress
                                        updates</li>
                                <li class="feature">Detailed bi-weekly lifestyle
                                        audit</li>
                                <li class="feature">Response time – 6 hours</li>
                                <li class="feature">Bi-weekly coaching calls</li>
                                <li class="feature">Bi-weekly Zoom workout
                                        sessions</li>
                                <li class="feature">Weekend availability</li>
                        </ul>
                </div>
        </div>
        <div id="post-prices" class="container text-center">
                <p>* The packages can be customized specifically for your goals and needs</p>
                <p>** Results may vary between individuals</p>
        </div>
</section>