<section id="pricing" class="in-animate black-background block-neon-shadow-down">
    <h2 class="underline">Pricing</h2>
    <div id="pre-prices" class="container text-center">
        <p>Get a taste of the program’s ultimate value with a 7-day FREE trial. NO payment information required.</p>
        <p>Save 20% with a 4-months pack.</p>
    </div>
    <div id="period-selector">
        <a class="period-button period-selected" id="period-monthly-btn" href="">Monthly</a><a class="period-button"
            id="period-annually-btn" href="">4-months</a>
    </div>
    <div id="prices-container" class="container">
        <div class="price-card texture-prism">
            <div class="price-title">Essentials</div>
            <div class="price-cost"><span class="monthly-selected">249$</span><span
                    class="annually-selected">796$</span></div>
            <div class="price-for">Best for the maintenance mode</div>
            <div class="price-features">
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Weekly progress check-ins and feedback</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Timely training and nutrition adjustments</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">1 exercise form videos for analysis per week</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Weekly nutrition feedback</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Basic guidance on supplements</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Monthly training feedback and progress updates</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Basic monthly lifestyle audit</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Response time – within 24 hours</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                        class="feature-text">Coaching calls</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                        class="feature-text">Zoom workout sessions</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                        class="feature-text">Weekend availability</span></div>
            </div>
        </div>

        <div class="price-card texture-prism">
            <span class="price-best-tag">Best value</span>
            <div class="price-title">Gold</div>
            <div class="price-cost"><span class="monthly-selected">399$</span><span
                    class="annually-selected">1277$</span></div>
            <div class="price-for">Great progress at your own pace</div>
            <div class="price-features">
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Weekly progress check-ins and feedback</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Timely training and nutrition adjustments</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">3 exercise form videos for analysis per week</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">2 times per week nutrition feedback</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Basic guidance on supplements</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Bi-weekly training feedback and progress updates</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Basic monthly lifestyle audit</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Response time – within 12 hours</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Monthly coaching calls</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Monthly Zoom workout sessions</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" /><span
                        class="feature-text">Weekend availability</span></div>
            </div>
        </div>

        <div class="price-card texture-prism">
            <div class="price-title">VIP</div>
            <div class="price-cost"><span class="monthly-selected">549$</span><span
                    class="annually-selected">1757$</span></div>
            <div class="price-for">Fast track to a great-looking body</div>
            <div class="price-features">
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Weekly progress check-ins and feedback</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Timely training and nutrition adjustments</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">5 exercise form videos for analysis per week</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">3 times per week nutrition feedback</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Thorough guidance on supplements</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Weekly training feedback and progress updates</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Detailed bi-weekly lifestyle audit</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Response time – 6 hours</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Bi-weekly coaching calls</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Bi-weekly Zoom workout sessions</span></div>
                <div class="feature"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" /><span
                        class="feature-text">Weekend availability</span></div>
            </div>
        </div>
    </div>
    <div id="post-prices" class="container text-center">
        <p>* The packages can be customized specifically for your goals and needs</p>
        <p>** Results may vary between individuals</p>
    </div>
</section>