<section id="push" class="in-animate side-text-section gray-background">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="">Look, I get it…</h2>

                <p>You are very busy with business, work, family, and many other commitments. You feel like now is
                    not the right
                    time for fitness. You hope for some fictional time in the future when things “calm down a bit”
                    and then you
                    will finally start taking care of yourself.</p>

                <p>However, the hard truth of life is that <span class="accent">the perfect time never comes</span>.
                    There will
                    always be hit after hit, you
                    will set new career goals after you achieve your current ones, etc. When was the last time you
                    had a
                    “perfect” period? For how long did it last? <span class="accent">How many promises</span> to
                    start taking
                    care of your body and health
                    <span class="accent">you’ve already broken</span>?
                </p>

                <p>Time to finally realize it, get your shit together, stop being a bitch and excuse maker, and make
                    fitness an
                    unbreakable part of your lifestyle so <span class="accent">nothing can stop you again</span> and
                    so <span class="accent">
                        you NEVER go back to that point of
                        misery and embarrassment</span>.</p>

                <p>With me, it is possible. During the last decade, my life kept punching me in the face hard, but,
                    regardless,
                    I still did whatever it took to stay true to myself, my priorities and my values, including my
                    hardcore
                    commitment to health and fitness. And, <span class="accent">I am here to help you and show you
                        how to as
                        well!</span></p>

            </div>
        </div>
    </div>

    <img src="/img/pages/coaching/push/phone.webp" class="w-100 d-lg-none" alt="">
</section>