<section id="success" class="in-animate black-background">
    <div class="container">
        <div class="story row">
            <h3 class="story-title">Mind-blowing transformation journey and what’s unique about TrainedByNik</h3>

            <div class="col-12 col-md-7">
                <p class="review">
                    "I haven’t met anybody that’s changed my life to this extent"
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hyoNqv7Gy2I"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <img src="/img/pages/coaching/success/stars.webp" loading="lazy" alt="">

                <div class="signature">
                    <p class="name">Rich Courtemanche from Canada</p>
                    <p>Salesman in the mining industry</p>
                </div>
            </div>
            <div class="col-12 col-md-5 images stacked-images">
                <img class="bordered-img" src="/img/pages/coaching/success/rich1.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/pages/coaching/success/rich2.webp" loading="lazy" alt="">
                <img class="bordered-img mb-3" src="/img/pages/coaching/success/rich3.webp" loading="lazy" alt="">
            </div>
        </div>

        <hr>

        <div class="story row">
            <h3 class="story-title">Only dumbbells, minimal food sacrifices, still insane results</h3>

            <div class="col-12 col-md-7">
                <p class="review">
                    "What makes Nik stand out is his direct, no-nonsense style"
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6vJPGmgjk2U"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <img src="/img/pages/coaching/success/stars.webp" loading="lazy" alt="">

                <div class="signature">
                    <p class="name">Peter Barber From Singapore</p>
                    <p>Well-known Entrepreneur and family man</p>
                </div>
            </div>
            <div class="col-12 col-md-5 images stacked-images stacked-tight">
                <img class="bordered-img" src="/img/pages/coaching/success/peter2.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/pages/coaching/success/peter1.webp" loading="lazy" alt="">
            </div>
        </div>

        <hr>

        <div class="story row">
            <h3 class="story-title">Got in the best shape of his life in only 3 months and even transformed his
                career</h3>

            <div class="col-12 col-md-7">
                <p class="review">
                    "The greatest example of the best decision ever made"
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3ugF3badWAg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <img src="/img/pages/coaching/success/stars.webp" loading="lazy" alt="">

                <div class="signature">
                    <p class="name">John From New York</p>
                    <p>Company Vice-President</p>
                </div>
            </div>
            <div class="col-12 col-md-5 images stacked-images">
                <img class="bordered-img" src="/img/pages/coaching/success/john1.webp" loading="lazy" alt="">
                <img class="bordered-img" src="/img/pages/coaching/success/john2.webp" loading="lazy" alt="">
                <img class="bordered-img mb-3" src="/img/pages/coaching/success/john3.webp" loading="lazy" alt="">
            </div>
        </div>
        <hr>
    </div>

    <div id="testimonials" class="container">
        <div class="testimonial">
            <h4>Steve Bolton</h4>
            <p class="whois">British Entrepreneur and celebrity mentor</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1m7NYBloJXs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p class="testiomial-text">"Out of 7 people I referred to Nik, not a single one has failed"</p>
        </div>
        <div class="testimonial">
            <h4>Jane</h4>
            <p class="whois">Writer from the UK</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K8xntA0o50c"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p class="testiomial-text">“I couldn’t believe I would achieve such results with my health limitations
                and training at home only 3 times a week”</p>
        </div>
        <div class="testimonial">
            <h4>Simon Lattarche</h4>
            <p class="whois">British CFO and Investor</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_3bGHwZiruE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p class="testiomial-text">“At the beginning I was skeptical to start Nik’s program, but now even my
                12-year old son also works with Nik”</p>
        </div>

    </div>

    <div class="container additional">
        <p class="accent-box">
            Want to speak with some of my clients personally? Not a problem! Send a message request to
            +1-786-741-7710 (in
            WhatsApp) with your name and the name of the client(s) you would like to speak to, and I will provide
            you with the
            contact information
        </p>

        <div class="row mb-0">
            <img class="col-4 p-0" src="/img/pages/coaching/success/reviews/client1.webp" loading="lazy" alt="">
            <img class="col-4 p-0" src="/img/pages/coaching/success/reviews/client2.webp" loading="lazy" alt="">
            <img class="col-4 p-0" src="/img/pages/coaching/success/reviews/client3.webp" loading="lazy" alt="">
        </div>
        <div class="row">
            <img class="col-12 col-md-3 p-0" src="/img/pages/coaching/success/reviews/review1.webp" loading="lazy"
                alt="">
            <img class="col-12 col-md-3 p-0" src="/img/pages/coaching/success/reviews/review2.webp" loading="lazy"
                alt="">
            <img class="col-12 col-md-3 p-0" src="/img/pages/coaching/success/reviews/review3.webp" loading="lazy"
                alt="">
            <img class="col-12 col-md-3 p-0" src="/img/pages/coaching/success/reviews/review4.webp" loading="lazy"
                alt="">
        </div>
    </div>
</section>