<section id="whofor" class="in-animate black-background block-neon-shadow-down">
    <div class="container-fluid">
        <h2>Who the program is for and not for</h2>
        <div id="takes" class="container">
            <div class="row">
                <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You
                    want to make significant changes in your physique, mindset, and lifestyle, and
                    understand it
                    will take some time</p>
                <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You
                    just want to lose a few pounds and planning to do the program for only a few
                    weeks</p>
            </div>
            <div class="row">
                <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You
                    are seriously dedicated and willing to give it at least 80-90% commitment</p>
                <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You
                    are an excuse maker with a careless attitude, or just lazy and unreliable</p>
            </div>
            <div class="row">
                <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You
                    are looking for more than just fitness training. You need a coach/partner who
                    will provide a
                    whole new level of guidance and mentorship</p>
                <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />All
                    you want is just training and nutrition plans, and you believe you don’t need
                    the guidance
                    on exercise execution, comprehensive feedbacks, mindset and life coaching, etc.</p>
            </div>
            <div class="row">
                <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You
                    are ready to accept constructive criticism, some tough love and even hard truth
                    because you care about growth, improvement and serious progress</p>
                <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You
                    expect that I will be too understanding, empathetic and forgiving to your
                    potential excuses, justifications, sloth, etc.</p>
            </div>
            <div class="row">
                <p class="for-take col-6"><img class="feature-icon" src="/img/coaching/icons/feature.svg" alt="" />You
                    are open to a bit of education/indoctrination (through my messages and premium
                    content) on
                    why we do things the way we do them, and willing to ask questions</p>
                <p class="not-for-take col-6"><img class="feature-icon" src="/img/coaching/icons/cross.svg" alt="" />You
                    have a “just tell me what to do and that’s it” kind of mindset. You believe you
                    are “too
                    busy” to invest just a little bit of your time to gain top-notch insights and knowledge (that
                    95% of people have no idea about) for your own future self-sufficiency</p>
            </div>
        </div>
    </div>

</section>