<section id="why" class="in-animate gray-background side-text-section">
    <img src="/img/pages/coaching/why/phone-top.webp" class="w-100 d-lg-none" alt="">
    <div class="container-fluid pt-lg-5">
        <div class="row pt-lg-5">
            <div class="px-3 px-md-5 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class=" mt-lg-5">Why Choose TrainedByNik and The Reasons To Apply Right NOW</h2>
                <ul class="arrow-list">

                    <li>I will show you how to get serious results while training less and without hardcore diets.</li>

                    <li>I will introduce you to advanced techniques 98% of people <span class="accent">have NO IDEA
                            about</span>. To unlock the
                        ultimate progress in your muscle building, fat loss, and mindset transformation.</li>

                    <li>I will NOT allow you to keep doing what doesn’t work or stops working. With me, it’s all about
                        the <span class="accent">straight-line path</span> toward your dream body. With my painstaking
                        attention to detail, not a
                        single weak link will hold us back.</li>


                    <li>Building and maintaining a killer physique is impossible without going through personal and
                        mindset transformations. So, I won’t afford to take it easy on you. But, as a result, you will
                        turn into a beast with a <span class="accent">relentless commitment to fitness</span>.</li>

                    <li>The longer you wait, the more pain it will be to transform later. <span class="accent">Every day
                            you wait</span> you make an
                        extra step in the adverse direction. How far do you want to take it?</li>

                    <li>And, finally, what do you have to lose? You’ve got a 7-day FREE trial to see if the program is a
                        great fit for you or not.
                        So, drop any excuses and <span class="accent">just try it!</span></li>
                </ul>

                <h3 class="underline ">
                    Now just imagine being that <span class="accent">brand-new, unrecognizable version of
                        yourself</span> in 4-12 months.
                </h3>
            </div>
        </div>
    </div>
    <img src="/img/pages/coaching/why/phone-bottom.webp" class="w-100 d-lg-none" alt="">

</section>