<section id="why" class="in-animate side-text-section">
    <img src="/img/pages/coaching/why/phone-top.webp" class="w-100 d-lg-none" alt="">
    <div class="container-fluid pt-lg-5">
        <div class="row pt-lg-5">
            <div class="px-3 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="text-black mt-lg-5">Why Choose TrainedByNik and The Reasons To Apply Right NOW</h2>
                <ul id="why-list">
                    <li>I will show you how to get great results while <span class="accent">spending the least
                            amount of time on training</span>. And, I will teach you how to build a head-turning
                        physique <span class="accent">without hardcore diets and feeling miserable</span>.
                        Efficiency and sustainability lie at the core of my program.</li>
                    <li>I will introduce you to advanced techniques <span class="accent">98% of people have NO IDEA
                            about</span>. To help you unlock the ultimate progress in muscle building, fat loss, and
                        mindset transformation.</li>
                    <li>The biggest reason most people (and even coaches) struggle to get results is that they can’t
                        differentiate <span class="accent">correlations from causations</span>. I am all about
                        painstaking attention to detail and consistent performance of root cause analysis to ensure
                        the <span class="accent">straight-line path toward your dream body</span>. I will track
                        every little aspect of your daily life and will be so scrupulous you will hate me. With my
                        commitment to your success, there will <span class="accent">not be a single hidden weak link
                            holding us back!</span></li>
                    <li>Building and maintaining a good-looking body is impossible without going through <span
                            class="accent">personal and mindset transformations</span>. That’s exactly where I will
                        put all my skills, experience, and even personality into action. Yes, I will not take it
                        easy on you, I will call you out (in a friendly way) on any BS, so you better buckle up. As
                        a result, you will turn into an <span class="accent">assertive beast with a relentless
                            commitment to fitness</span>.</li>
                    <li>It’s a fact that the longer you wait, <span class="accent">the harder it will be</span> to
                        transform your physique and improve your health later, and it will take much longer. Every
                        day you wait you make an extra step in the adverse direction, so ask yourself - <span
                            class="accent">do you really want to take it so far?</span> Plus, keep in mind that I
                        ONLY work with a <span class="accent">max of 12 clients</span> at a time, to ensure their
                        success and great coaching experience. Once I am maxed out, you will have to get on the
                        waiting list.</li>
                    <li>And, finally, <span class="accent">what do you have to lose</span>? You’ve got a 7-day <span
                            class="accent">FREE trial</span> to see if the program is a great fit for you or not.
                        So, drop any excuses and just try it!</li>
                </ul>

                <h3 class="underline text-black">
                    Now just imagine being that brand-new, unrecognizable version of yourself in 4-12 months.
                </h3>
            </div>
        </div>
    </div>
    <img src="/img/pages/coaching/why/phone-bottom.webp" class="w-100 d-lg-none" alt="">

</section>