<section id="bio" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Meet Your No-BS Coach Nik</h2>

                <p>My name is Nik Kurdoyak, and I am your ultimate (and a bit crazy) fitness and confidence coach. It is
                    my passion to help people build gorgeous physiques, level up their assertiveness, and start living
                    more powerful lives.</p>

                <p>Today people tend to neglect their body and health, justifying it with having so many work and family
                    commitments, and delaying a healthy lifestyle for years and even decades later. However, it works
                    the complete opposite way – <span class="accent">success in other areas starts with your health,
                        appearance, confidence, energy, drive, and how you carry yourself</span>. The better you look
                    and feel – the better you do in your businesses, work, family life – everywhere. And, you simply
                    live a more powerful and fulfilled life!</p>

                <p>I have a crazy and tough journey behind me. I was born in a rotten Siberian town during the rise of
                    banditry, come from a very rough background, lost my dad when I was 11, lived in 3 different
                    countries (by the age of 26), experienced severe instability, and much more. During the last decade,
                    my life consisted of constant hit after hit. But, the thing that’s NEVER changed was my hardcore
                    commitment to fitness, and it has always helped me push through hard times, keep up my passions,
                    stay true to myself, and keep going towards my wildest dreams. <span class="accent">And I am here to
                        help YOU!</span></p>
            </div>

        </div>
    </div>
    <img src="/img/pages/about/bio/phone.webp" class="w-100 d-lg-none" alt="">
</section>