<section id="bio" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <img src="/img/pages/about/bio/phone-top.webp" class="w-100 d-lg-none" alt="">

    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-5 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 ">Meet Your No-BS Coach Nik</h2>

                <p>
                    My name is Nik Kurdoyak, and I am your ultimate fitness coach with a unique story. It is my passion
                    to
                    help people build head-turning physiques, boost their badassery, and become unstoppable.
                </p>

                <p>
                    Fitness is NOT a barrier to making more money, taking care of your family, etc. Your health,
                    appearance,
                    confidence, energy, drive, and how you carry yourself - all have an immense impact on every little
                    aspect of your life. <span class="accent">The better you look and feel – the better you do
                        everywhere else!</span>
                </p>

                <p>
                    The last decade of my life has been a constant hit after hit. But, the thing that’s NEVER changed
                    was my
                    insane commitment to fitness, and it has always helped me push through hard times, keep up my
                    passions,
                    stay true to myself, and keep going towards my wildest dreams. <span class="accent">And I am here to
                        help YOU!</span>
                </p>
            </div>

        </div>
    </div>
    <img src="/img/pages/about/bio/phone-bottom.webp" class="w-100 d-lg-none" alt="">
</section>