<section id="coaching" class="in-animate texture-scales block-shadow-down">
    <div class="side-block">
        <h2 class=""><u>Online Coaching and Mentoring</u></h2>
        <div class="text-block">

            <p class="brushed2">The online world is full of fitness programs that provide you with
                training routines, nutrition plans, weekly check-ins, etc. However, many
                people need “soft” things to achieve dramatic and long- lasting changes.</p>
            <p class="brushed1">I take pride in creating the only program of its kind. The program goes
                way beyond just giving you training and nutrition plans. TrainedByNik’s
                program will provide the highest level of thoroughness, root cause
                analysis, and attention to detail. I will also mentor you, educate you,
                and will be right there beside you EVERY SINGLE DAY supporting you.
                People who get on board with me are NOT just my customers, we become
                partners.</p>
            <p class="brushed3">But, there is even more to it than that. At this point, don’t take my
                word for anything else, just follow the link and see it all for yourself
                (including client success stories)</p>
        </div>

        <br />
        <div class="action-block">
            <p class="brushed2">
                See client success stories and find out more
            </p>
            <a href="/coaching">
                LEARN MORE
            </a>
        </div>
    </div>

</section>