<section id="coaching" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Turn Into a Beast With My No-BS Coaching Program</h2>

                <p>The online world is full of fitness programs that provide you with training routines, nutrition
                    plans, weekly check-ins, etc. However, many people need a completely different approach <span
                        class="accent">to achieve dramatic and long-lasting changes</span>. That’s where my program
                    comes into play…</p>

                <p>The program goes way beyond just giving you training and nutrition plans. The program doesn’t provide
                    you with just a coach, but rather a <span class="accent">partner and mentor right there beside you,
                        supporting you daily</span>. The program, apart from helping you build a great physique, will
                    <span class="accent">transform you as a person</span>. And, the program that doesn’t tolerate any
                    BS. If you are looking for
                    quick and easy fixes, want just to lose a few pounds, or expect a soft attitude that will accept all
                    your excuses and fuck-ups – my program is NOT for you. I am here to help you <span
                        class="accent">the REAL way</span> and I take
                    every little detail of our journey seriously, and I expect the same from you.
                </p>

                <p>Are you ready to join hundreds of others who have already built head-turning physiques, obtained
                    ultimate confidence, and have become the ultimate versions of themselves?</p>

                <a class="accent-button w-50" href="/coaching">I Want To Try For FREE</a>

            </div>

        </div>
    </div>
    <img src="/img/about/coaching/coaching-phone.webp" class="w-100 d-lg-none" alt="">
</section>