<section id="contact" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 px-md-6 col-12 col-lg-7 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 ">Contact Me</h2>

                <h3>Get in touch with me regarding the referral program, coaching, and other services and offers.
                </h3>

                <div class="text-center mt-3">
                    <a href="tel:+17867417710" class="contact-link"><img class="contact-img"
                            src="/img/shared/icons/phone.webp" loading="lazy" alt="" />
                        +1-786-741-7710</a>
                    <br />
                    <a href="mailto:contact@trainedbynik.fit" class="contact-link"><img class="contact-img"
                            src="/img/shared/icons/gmail.webp" loading="lazy" alt="" />
                        contact@trainedbynik.fit</a>
                </div>


            </div>

        </div>
    </div>
    <img src="/img/pages/about/contact/phone.webp" class="w-100 d-lg-none" alt="">
</section>