<section id="contact" class="in-animate texture-brick">
    <div class="side-block">
        <h2 class="">Contact</h2>
        <p class="">
            Feel free to get in touch with me in regards to coaching, partnership, or
            business inquiries.
        </p>
        <a href="tel:+17867417710"><img class="contact-img" src="/img/contact/call.png" loading="lazy" alt="" />
            +1-786-741-7710</a>
        <br />
        <a href="mailto:contact@trainedbynik.fit"><img class="contact-img" src="/img/contact/email.png" loading="lazy"
                alt="" />
            contact@trainedbynik.fit</a>
    </div>
</section>