<section id="coaching" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Contact Me</h2>

                И ниже сразу с более крупными значками и текстом (значки которые я указал выше для секции Services) мой
                имэйл и телефон.

                <a href="tel:+17867417710"><img class="contact-img" src="/img/contact/call.png" loading="lazy" alt="" />
                    +1-786-741-7710</a>
                <br />
                <a href="mailto:contact@trainedbynik.fit"><img class="contact-img" src="/img/contact/email.png"
                        loading="lazy" alt="" />
                    contact@trainedbynik.fit</a>

                И ниже: Follow me: LinkedIn, YouTube (Под текстом Follow me). Соц. сети указать можно без текста, просто
                иконками этих сетей (стандартными).


                <a class="accent-button w-50" href="/coaching">I Want To Try For FREE</a>

            </div>

        </div>
    </div>
    <img src="/img/about/coaching/coaching-phone.webp" class="w-100 d-lg-none" alt="">
</section>