<section id="main" class="block-neon-shadow-down">
    <div id="title-text">
        <h1 class="mb-1 mb-lg-3">Build a Killer Physique
            <br />
            And Level Up Your Life
        </h1>
    </div>
    <img id="main-image" src="/img/pages/about/main/main.webp" alt="" />
</section>