<section id="main" class="block-neon-shadow-down">
    <img id="main-image" src="/img/pages/about/main/main.webp" alt="" />
    <h1 class="mb-1 mb-lg-3 in-animate in-animation">Your Journey To Becoming <span class="accent">A BEAST</span> Starts
        Here</h1>
</section>