<section id="main" class="block-neon-shadow-down">
    <img id="main-image" srcset="/img/pages/about/main/main-sm.webp 576w,
             /img/pages/about/main/main-lg.webp 992w,
             /img/pages/about/main/main-xxl.webp 1400w,
             /img/pages/about/main/main.webp 1920w" src="/img/pages/about/main/main.webp" alt=""
        class="in-animate in-animation" />
    <h1 class="mb-1 mb-lg-3 in-animate in-animation">Your Journey To Becoming <span class="accent">A BEAST</span> Starts
        Here</h1>
</section>