<section id="referral" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 col-12 offset-lg-6 col-lg-6 offset-xl-6 col-xl-6 mb-lg-5">
                <h2 class="underline mt-10">Join My Referral Program</h2>

                <p>Make money and build passive income by referring people to join my program’s FREE trial.</p>

                <p>Once your referrals decide to continue past a free trial, depending on which one of my packages they
                    choose and how they pay (monthly or upfront), you can make <span class="accent">up to 100$ per
                        month</span> per referral and <span class="accent">up to 400$</span> as a one-time payment.
                    Contact me if you want to refer your friends and relatives or become an employee or affiliate. Terms
                    are negotiable.</p>

                <a class="accent-button w-50" href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <img src="/img/pages/about/referral/phone.webp" class="w-100 d-lg-none" alt="">
</section>