<section id="reviews" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">

    {{> quickreview name="Amer Karma" title="Bodybuilder/Model/Entrepreneur"
    imageName="amer.webp" imageAlt=""
    text="
    Nik lives and breathes fitness, is truly passionate about his craft, and cares about his clients’ results more than
    about his own. He is reliable, trustworthy, serious, and will never let you down. You can learn so much from him,
    since he went through a very interesting and rough journey pursuing his biggest dreams, and will help you!
    " }}

    {{> quickreview name="Steve Bolton" title="Entrepreneur/Investor/Celebrity Mentor"
    imageName="steve.webp" imageAlt=""
    text="
    Once I got a taste of the incredible results I achieved with Nik, his knowledge, expertise, and passion, I realized
    that he was the best coach I’ve ever had in my entire life. So, I happily referred 7 other people to work with him
    (among them were some of my employees, business partners, friends, and even my kids). I wasn’t surprised that not a
    single one of them failed.
    " }}

    {{> quickreview name="Robert Falconi" title="Managing director"
    imageName="rob.webp" imageAlt=""
    text="
    Nik did a tremendous job helping me bulk up and gain serious strength, even though I have a rotator cuff/shoulder
    issue. He introduced me to many unique muscle-building techniques that helped me get results I didn’t even expect
    while strengthening my shoulder. Also, he's a great listener, problem solver, and a fantastic motivator. I wouldn't
    have done it without him!
    " }}

</section>