<section id="services" class="in-animate side-text-section gray-background block-neon-shadow-down pb-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 col-12 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 mb-lg-5">
                <h2 class="underline mt-2 text-black">Other Services To Help You Level Up Your Life</h2>

                <p>Apart from full-time coaching, I provide a wide range of other services, subscriptions, and offers,
                    such as:</p>


                <ul id="services-list">
                    <li>Zoom calls</li>
                    <li>Zoom workout sessions</li>
                    <li>Exercise form analysis and feedback</li>
                    <li>WhatsApp mentoring (Private or Community) (<span class="accent">FREE Trials</span>)</li>
                </ul>

                <p>
                    Also, I am open to other offers and proposals as long as they are credible, reliable, legitimate,
                    and serious.
                </p>

                <a class="accent-button w-50" href="/services">I Want To Explore More</a>

            </div>

        </div>
    </div>
    <img src="/img/pages/about/services/phone.webp" class="w-100 d-lg-none" alt="">
</section>