<section id="youtube" class="in-animate texture-brick block-neon-shadow-down">
    <div class="side-block">
        <h2 class=""><u>My YouTube Channel</u></h2>
        <div class="text-block">
            <p class="red-shadow">
                Here you can find my free videos on training, nutrition, supplements,
                mindset, health, and recovery. To help you build a head-turning physique
                and improve your well-being.
            </p>
            <p class="red-shadow">
                Also, you will find content on mindset, self-development, life lessons
                I&#39;ve learned the hard way, my journey, and much more. I have a crazy
                journey behind me, and I am passionate about sharing my experiences with
                others, to help you grow and improve in other areas as well.
            </p>
        </div>

        <br />
        <div class="action-block">
            <p class="red-shadow">
                Check out my videos and subscribe
            </p>
            <a href="https://www.youtube.com/channel/UCe8ueQdk2xMCO6qRtPwHmig" target="_blank">
                Go To YouTube
            </a>
        </div>
    </div>
    <div class="deck-images">
        <a href="https://youtu.be/dgRwEDEmHwY" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/1.webp" loading="lazy" alt="" />
        </a>
        <a href="https://youtu.be/-dSzJAz4tUA" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/2.webp" loading="lazy" alt="" />
        </a>
        <a href="https://youtu.be/8p73pGmAfFk" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/3.webp" loading="lazy" alt="" />
        </a>
        <a href="https://youtu.be/-SLbb1GB2Jg" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/4.webp" loading="lazy" alt="" />
        </a>
        <a href="https://youtu.be/kbBjosrHJoU" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/5.webp" loading="lazy" alt="" />
        </a>
        <a href="https://youtu.be/OG2tEqnfKj0" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/6.webp" loading="lazy" alt="" />
        </a>
        <a href="https://youtu.be/uBwlTUF6rzs" target="_blank">
            <img class="bordered-img video-img" src="/img/youtube/7.webp" loading="lazy" alt="" />
        </a>
    </div>
</section>